@page
@model MyOrdersModel

@{
    ViewData["Title"] = "My Orders";
}

<h3 class="contact adjusted-anchor-2" id="contact-id">
   Bookings
</h3>
<div style="margin-top:100px;">
    <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">Back</a>
</div>
@if (Model.CustomerOrders.Any())
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Order Number</th>
                    <th>Consignee Name</th>
                    <th>Consignor Name</th>
                    <th>Goods Details</th> <!-- Ny kolumn för detaljerade goods-uppgifter -->
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.CustomerOrders)
                {
                    <tr>
                        <td>@order.CustomerOrderNumber</td>
                        <td>@order.ConsigneeName</td>
                        <td>@order.ConsignorName</td>
                        <td>
                            <ul>
                                @foreach (var good in order.Goods)
                                {
                                    <li>
                                        Volume: @good.Volume m³, Net Weight: @good.NetWeight kg, Gross Weight: @good.GrossWeight kg
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <div class="alert alert-warning" role="alert">
        No orders found.
    </div>
}
