@page
@model MasterArtsWeb.Pages.LogisticsCenter.ShipmentCalculatorModel
@{
}
<div class="text-center mille">
    <h3 class="contact adjusted-anchor-2" id="contact-id">
        ORDER
    </h3>
</div>
<div class="language-toggle text-end index-lang">
    <button id="languageToggleBtn" class="l-btn" onclick="toggleLanguage()">Svenska</button>
</div>


    @if (TempData["SuccessMessage"] != null)
    {

        <div class="alert alert-success fade-message text-center" id="success-message" style="margin-top: 10px">@TempData["SuccessMessage"]</div>
    }
<div class="buttons-container" style="margin-top:50px; text-align:center;">
    <a href="/LogisticsCenter/Calculator#contact-id" class="button-link"><i class="fas fa-calculator"></i>SHIPMENT-CALCULATOR</a>
    <a href="/LogisticsCenter/MyOrdersModel#contact-id" class="button-link"><i class="fas fa-book"></i> BOOKINGS</a>
    <a href="/NordicApi/CalculateRates#contact-id" class="button-link"><i class="fa-thin fa-anchor"></i>OCEAN LCL</a>
    <a href="/NordicApi/InlandRequest#contact-id" class="button-link"><i class="fa-thin fa-ship"></i>INLAND LCL</a>
</div>






<body id="myShip">

</body>


  

<form method="post" id="contactForm" style="margin-top:100px">
<div class="order-1">
    
    
    
   
    <div class="form-container-2">
        <h3 class="text-center" style="color:#fff">Details</h3>
           
@*
                <label asp-for="Order.OrderReference">Order reference</label>
        <input asp-for="Order.OrderReference" class="form-control"  />
        <span asp-validation-for="Order.OrderReference" class="text-danger"></span>*@

        <div style="display: none;">
            <label asp-for="Order.Customer">Customer Number<span class="required">*</span></label>
            <input asp-for="Order.Customer" class="form-control" />
            <span asp-validation-for="Order.Customer" class="text-danger"></span>
        </div>


               
        
        <label asp-for="Order.TermsOfDelivery">Terms of Delivery</label>
                <select asp-for="Order.TermsOfDelivery" class="form-control">
                    <option value="">Select Terms of Delivery</option>
                    <option value="0001 EXW">0001 EXW</option>
                    <option value="0002 FCA">0002 FCA</option>
                    <option value="0004 CPT">0004 CPT</option>
                    <option value="0009 CIP">0009 CIP</option>
                    <option value="0017 DAP">0017 DAP</option>
                    <option value="0021 DDP">0021 DDP</option>
                    <option value="0026 FAS">0026 FAS</option>
                    <option value="0029 FOB">0027 FOB</option>
                    <option value="0031 CFR">0031 CFR</option>
                    <option value="0034 CIF">0034 CIF</option>
                </select>
                <span asp-validation-for="Order.TermsOfDelivery" class="text-danger"></span>





                <label asp-for="Order.FreightService">Freightservice<span class="required">*</span></label>
        <select asp-for="Order.FreightService" class="form-control">
            <option value="">Select Freight Service</option>
            <option value="OceanFreight">Ocean Freight</option>
            <option value="Airfreight">Airfreight</option>
            <option value="Express Kurir">Express Kurir</option>
            <option value="Road">Road</option>
            <option value="Trainfreight">Trainfreight</option>
            <option value="Standard Kurir">Standard Kurir</option>
            <option value="Linehaul">Linehaul</option>
        </select>
        <span asp-validation-for="Order.FreightService" class="text-danger"></span>

                <label asp-for="Order.PickUpTimeFrom">Delivery Time From<span class="required">*</span></label>
                <input asp-for="Order.PickUpTimeFrom" type="datetime-local" class="form-control" />
                <span asp-validation-for="Order.PickUpTimeFrom" class="text-danger"></span>

                <label asp-for="Order.DeliveryTimeTo">Delivery Time To<span class="required">*</span></label>
                <input asp-for="Order.DeliveryTimeTo" type="datetime-local" class="form-control" />
                <span asp-validation-for="Order.DeliveryTimeTo" class="text-danger"></span>

                <label asp-for="Order.CustomerOrderNumber">Customer Order Number</label>
                <input asp-for="Order.CustomerOrderNumber" class="form-control" />
                <span asp-validation-for="Order.CustomerOrderNumber" class="text-danger"></span>

                <label asp-for="Order.OrderType">Order Type<span class="required">*</span></label>
<div class="input-icon-container">
    <select asp-for="Order.OrderType" class="form-control">
        <option value="">Select OrderType</option>
        <option value="Export">Export</option>
        <option value="Import">Import</option>
        <option value="Inrikes">Inrikes</option>
        <option value="Tullhantering">Tullhantering</option>
    </select>
    <span class="feedback-icon" style="display:none;"><i class="fa fa-check mr-check"></i></span> <!-- Feedback-ikonen här -->
</div>
<span asp-validation-for="Order.OrderType" class="text-danger"></span>




        <label asp-for="Order.OrderReference">Reference</label>
        <div class="input-icon-container">
            <input asp-for="Order.OrderReference" class="form-control" />
            <span class="feedback-icon" id="feedback-icon" style="display:none;"><i class="fa fa-check mr-check"></i></span>
            <!-- Feedback-ikonen här -->
        </div>
        <span asp-validation-for="Order.OrderReference" class="text-danger"></span>




                <label asp-for="@Model.Order.TransportModeCode">Transport Mode</label>
                <select asp-for="@Model.Order.TransportModeCode" class="form-control">
                    <option value="">Select a transport mode</option>
            <option value="44">Air transport</option>
            <option value="33">Road transport</option>
             <option value="22">Train transport</option>
                    <option value="11">Sea transport</option>
                    
                    
                    
                    
                  
                    
                    
                </select>
                <span asp-validation-for="@Model.Order.TransportModeCode" class="text-danger"></span>


@*
                <label>Pick Up Time From<span class="required">*</span></label>
        <select asp-for="Order.PickUpTimeFrom" class="form-control">
            <option value="08:00-15:00">08:00-15:00</option>
            <option value="09:00-16:00">09:00-16:00</option>
            <!-- Lägg till fler alternativ vid behov -->
        </select>

                <label>Pick Up Time To<span class="required">*</span></label>
        <select asp-for="Order.PickUpTimeTo" class="form-control">
            <option value="08:00-15:00">08:00-15:00</option>
            <option value="09:00-16:00">09:00-16:00</option>
            <!-- Lägg till fler alternativ vid behov -->
        </select>*@
    </div>








        <div class="form-container-2 goods-container">
            <h3 class="text-center" style="color:#fff">Goods</h3>
           
                @for (int i = 0; i < Model.Order.Goods.Count; i++)
                {
                
                    <label asp-for="Goods[@i].PackageId">Package ID<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].PackageId" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].PackageId" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].MarksNumbers">Marks Numbers<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].MarksNumbers" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].MarksNumbers" class="text-danger"></span>



                <label asp-for="@Model.Order.Goods[@i].Description">Description<span class="required">*</span></label>
                <textarea asp-for="@Model.Order.Goods[@i].Description" class="form-control" placeholder="Ex: Electronics, fragile items, etc..."></textarea>
                <span asp-validation-for="@Model.Order.Goods[@i].Description" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].PackageType">Package Type</label>
                    <select asp-for="@Model.Order.Goods[@i].PackageType" class="form-control">
                        <option value="">Select a package type</option>
                        <option value="CTN">CTN - Carton</option>
                        <option value="HPX">HPX - Special packaging</option>
                        <option value="KVT">KVT - Custom type</option>
                        <option value="OTH">OTH - Other</option>
                        <option value="PKG">PKG - Package</option>
                        <option value="PX">PX - Special packaging X</option>
                    </select>
                    <span asp-validation-for="@Model.Order.Goods[@i].PackageType" class="text-danger"></span>


                <label asp-for="@Model.Order.Goods[@i].OrderId">Quantity<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].OrderId" type="number" class="form-control" />
                <span asp-validation-for="@Model.Order.Goods[@i].OrderId" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Quantity">Quantity<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Quantity" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].Quantity" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Height">Height<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Height" type="number" class="form-control" />
                <span asp-validation-for="@Model.Order.Goods[@i].Height" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].Length">Length<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Length" type="number" class="form-control" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Length" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Width">Width<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Width" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].Width" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Volume">Volume<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Volume" type="number" step="0.01" class="form-control" />

                <span asp-validation-for="@Model.Order.Goods[@i].Volume" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].VolumeUnit">Volume Unit<span class="required">*</span></label>
                <select asp-for="@Model.Order.Goods[@i].VolumeUnit" class="form-control">
                    <option value="">Select a unit</option>
                    <option value="CBM">Cubic Meter (CBM)</option>
                    <option value="CFT">Cubic Feet (CFT)</option>
                    <option value="L">Liter (L)</option>
                    <option value="Gallon">Gallon (US/Imperial)</option>
                    <option value="In³">Cubic Inches (In³)</option>
                </select>
                <span asp-validation-for="Order.Goods[@i].VolumeUnit" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].GrossWeight">Gross Weight<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].GrossWeight" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].GrossWeight" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].NetWeight">Net Weight<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].NetWeight" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].NetWeight" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Remarks">Remarks</label>
                <input asp-for="@Model.Order.Goods[@i].Remarks" class="form-control" placeholder="Ex: Fragile, Handle with care, etc..." />
                <span asp-validation-for="@Model.Order.Goods[@i].Remarks" class="text-danger"></span>
                }
            <div id="dimensionsContainerEn"  class="goods-container">
        </div>
        <button type="button" class="cta-button" onclick="addDimension()">Add Goods</button>


        </div>
        


</div>
    



       <div class="order-1">
           <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Consignor</h3>
            <label asp-for="Order.ConsignorName">Consignor Name</label>
            <input asp-for="Order.ConsignorName" class="form-control" />
            <span asp-validation-for="Order.ConsignorName" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress1">Consignor Address 1</label>
            <input asp-for="Order.ConsignorAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsignorAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress2">Consignor Address 2</label>
            <input asp-for="Order.ConsignorAddress2" class="form-control"  />
            <span asp-validation-for="Order.ConsignorAddress2" class="text-danger"></span>


            <label asp-for="Order.ConsignorCity">Consignor City</label>
            <input asp-for="Order.ConsignorCity" class="form-control"  />
            <span asp-validation-for="Order.ConsignorCity" class="text-danger"></span>

@*@*
            <label asp-for="Order.ConsignorCountry">Consignor Country</label>
            <select asp-for="Order.ConsignorCountry" asp-items="@(new SelectList((IEnumerable<string>)ViewData["Countries"]))" class="form-control">
                <option value="">Select country...</option>
                <!-- Add country options dynamically if needed -->
            </select>
            <span asp-validation-for="Order.ConsignorCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsignorZip">Consignor Zip</label>
            <input asp-for="Order.ConsignorZip" class="form-control"  />
            <span asp-validation-for="Order.ConsignorZip" class="text-danger"></span>


            <label asp-for="Order.ConsignorContact">Consignor Contact</label>
            <input asp-for="Order.ConsignorContact" class="form-control" />
            <span asp-validation-for="Order.ConsignorContact" class="text-danger"></span>

            <label asp-for="Order.ConsignorPhone">Consignor Phone</label>
            <input asp-for="Order.ConsignorPhone" class="form-control"  />
            <span asp-validation-for="Order.ConsignorPhone" class="text-danger"></span>

            <label asp-for="Order.ConsignorEmail">Consignor Email</label>
            <input asp-for="Order.ConsignorEmail" class="form-control"  />
            <span asp-validation-for="Order.ConsignorEmail" class="text-danger"></span>
        </div>


        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Consignee</h3>
            <label asp-for="Order.ConsigneeName">Consignee Name</label>
            <input asp-for="Order.ConsigneeName" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeName" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress1">Consignee Address 1</label>
            <input asp-for="Order.ConsigneeAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress2">Consignee Address 2 (Optional)</label>
            <input asp-for="Order.ConsigneeAddress2" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress2" class="text-danger"></span>

            <label asp-for="Order.ConsigneeCity">Consignee City</label>
            <input asp-for="Order.ConsigneeCity" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeCity" class="text-danger"></span>

               @* <label asp-for="Order.ConsigneeCountry">Consignor Country</label>
                <select asp-for="Order.ConsigneeCountry" asp-items="@(new SelectList((IEnumerable<string>)ViewData["Countries"]))" class="form-control">
                    <option value="">Select country...</option>
                    <!-- Add country options dynamically if needed -->
                </select>
                <span asp-validation-for="Order.ConsigneeCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsigneeZip">Consignee Zip</label>
            <input asp-for="Order.ConsigneeZip" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeZip" class="text-danger"></span>

            <label asp-for="Order.ConsigneeContact">Consignee Contact</label>
            <input asp-for="Order.ConsigneeContact" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeContact" class="text-danger"></span>

            <label asp-for="Order.ConsigneePhone">Consignee Phone</label>
            <input asp-for="Order.ConsigneePhone" class="form-control"  />
            <span asp-validation-for="Order.ConsigneePhone" class="text-danger"></span>

            <label asp-for="Order.ConsigneeEmail">Consignee Email</label>
            <input asp-for="Order.ConsigneeEmail" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeEmail" class="text-danger"></span>
        </div>

  

   

    
    
    </div>
    <div class="sleep">
        <div id="loadingSpinner" style="display: none;">
            <div class="spinner"></div>
        </div>

        <button id="loginButton" onclick="startLoginProcess()" type="submit" class="cta-button text-center" style="margin-top:20px" name="OrderSubmitButton">Send</button>
    </div>
</form>




        

    

        

<form method="post"  id="contactFormSv" style="margin-top:100px;display:none">

    <div class="order-1">
   
        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Detaljer</h3>
            

            @*@*<label asp-for="Order.OrderReference">Orderreferens</label>
            <input asp-for="Order.OrderReference" class="form-control" placeholder="Exempel: REF123" />
            <span asp-validation-for="Order.OrderReference" class="text-danger"></span>*@

        <div style="display: none;">
            <label asp-for="Order.Customer">Customer Number<span class="required">*</span></label>
            <input asp-for="Order.Customer" class="form-control" />
            <span asp-validation-for="Order.Customer" class="text-danger"></span>
        </div>



                <label asp-for="Order.TermsOfDelivery">Leveransvillkor</label>
                <select asp-for="Order.TermsOfDelivery" class="form-control">
                    <option value="">Select Terms of Delivery</option>
                    <option value="0001 EXW">0001 EXW</option>
                    <option value="0002 FCA">0002 FCA</option>
                    <option value="0004 CPT">0004 CPT</option>
                    <option value="0009 CIP">0009 CIP</option>
                    <option value="0017 DAP">0017 DAP</option>
                    <option value="0021 DDP">0021 DDP</option>
                    <option value="0026 FAS">0026 FAS</option>
                    <option value="0029 FOB">0027 FOB</option>
                    <option value="0031 CFR">0031 CFR</option>
                    <option value="0034 CIF">0034 CIF</option>
                </select>
                <span asp-validation-for="Order.TermsOfDelivery" class="text-danger"></span>



            <label asp-for="Order.FreightService">Fraktjänst</label>
            <select asp-for="Order.FreightService" class="form-control">
                <option value="">Välj Fraktjänst</option>
                <option value="OceanFreight">Sjöfrakt</option>
                <option value="Airfreight">Flygfrakt</option>
                <option value="ExpressKurir">Expresskurir</option>
                <option value="Road">Vägtransport</option>
                <option value="Trainfreight">Tågfrakt</option>
                <option value="StandardKurir">Standardkurir</option>
                <option value="Linehaul">Linehaul</option>
            </select>
            <span asp-validation-for="Order.FreightService" class="text-danger"></span>

        <label asp-for="Order.PickUpTimeFrom">Lastdatum<span class="required">*</span></label>
        <input asp-for="Order.PickUpTimeFrom" type="datetime-local" class="form-control" />
        <span asp-validation-for="Order.PickUpTimeFrom" class="text-danger"></span>

        <label asp-for="Order.DeliveryTimeTo">Lossningsdatum<span class="required">*</span></label>
        <input asp-for="Order.DeliveryTimeTo" type="datetime-local" class="form-control" />
        <span asp-validation-for="Order.DeliveryTimeTo" class="text-danger"></span>
                
            <label asp-for="Order.CustomerOrderNumber">Customer Order Number</label>
                <input asp-for="Order.CustomerOrderNumber" class="form-control" placeholder="Ex: ABC123" />
                <span asp-validation-for="Order.CustomerOrderNumber" class="text-danger"></span>

                <label asp-for="Order.OrderType">Ordertyp<span class="required">*</span></label>
                <select asp-for="Order.OrderType" class="form-control">
                    <option value="">Välj Ordertyp</option>
                    <option value="Export">Export</option>
                    <option value="Import">Import</option>
                    <option value="Inrikes">Inrikes</option>
                    <option value="Tullhantering">Tullhantering</option>

                </select>
                <span asp-validation-for="Order.OrderType" class="text-danger"></span>

                <label asp-for="@Model.Order.TransportModeCode">Transportläge</label>
                <select asp-for="@Model.Order.TransportModeCode" class="form-control">
                    <option value="">Välj ett transportläge</option>
            <option value="44">Flyg</option>
            <option value="33">Väg</option>
            <option value="22">Tåg</option>
            <option value="11">Sjö</option>
                   
                </select>
                <span asp-validation-for="@Model.Order.TransportModeCode" class="text-danger"></span>

            <label asp-for="Order.OrderReference">Reference</label>
            <input asp-for="Order.OrderReference" class="form-control" />
            <span asp-validation-for="Order.OrderReference" class="text-danger"></span>

         @*   <label>Lastningstidfönster</label>
            <select asp-for="Order.PickUpTimeFrom" class="form-control">
                <option value="08:00-15:00">08:00-15:00</option>
                <option value="09:00-16:00">09:00-16:00</option>
                <!-- Lägg till fler alternativ om det behövs -->
            </select>

            <label>Lossningstidfönster</label>
            <select asp-for="Order.PickUpTimeTo" class="form-control">
                <option value="08:00-15:00">08:00-15:00</option>
                <option value="09:00-16:00">09:00-16:00</option>
                <!-- Lägg till fler alternativ om det behövs -->
            </select>
        </div>*@


            </div>

        <div class="form-container-2 goods-container">
                    <h3 class="text-center" style="color:#fff">Goods</h3>
                    @for (int i = 0; i < Model.Order.Goods.Count; i++)
                    {
                    <label asp-for="@Model.Order.Goods[@i].PackageId">PaketID<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].PackageId" class="form-control" placeholder="Ex: ABC123" />
                        <span asp-validation-for="Goods[@i].PackageId" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].MarksNumbers">Marks Numbers<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].MarksNumbers" class="form-control" placeholder="Ex: MN12345" />
                    <span asp-validation-for="@Model.Order.Goods[@i].MarksNumbers" class="text-danger"></span>



                    <label asp-for="@Model.Order.Goods[@i].Description">Beskrivning<span class="required">*</span></label>
                    <textarea asp-for="@Model.Order.Goods[@i].Description" class="form-control" placeholder="Ex: Electronics, fragile items, etc..."></textarea>
                    <span asp-validation-for="@Model.Order.Goods[@i].Description" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].PackageType">Pakettyp</label>
                    <select asp-for="@Model.Order.Goods[@i].PackageType" class="form-control">
                        <option value="">Select a package type</option>
                        <option value="CTN">CTN - Carton</option>
                        <option value="HPX">HPX - Special packaging</option>
                        <option value="KVT">KVT - Custom type</option>
                        <option value="OTH">OTH - Other</option>
                        <option value="PKG">PKG - Package</option>
                        <option value="PX">PX - Special packaging X</option>
                    </select>
                    <span asp-validation-for="@Model.Order.Goods[@i].PackageType" class="text-danger"></span>


                    <label asp-for="@Model.Order.Goods[@i].Quantity">Antal<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Quantity" type="number" class="form-control" placeholder="Ex: 10" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Quantity" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Length">Längd<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Length" type="number" class="form-control" placeholder="Ex: 30 (in cm)" />
                <span asp-validation-for="@Model.Order.Goods[@i].Length" class="text-danger"></span>
                 
                <label asp-for="@Model.Order.Goods[@i].Height">Höjd<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Height" type="number" class="form-control" placeholder="Ex: 20 (in cm)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Height" class="text-danger"></span>


                    <label asp-for="@Model.Order.Goods[@i].Width">Bredd<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Width" type="number" class="form-control" placeholder="Ex: 15 (in cm)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Width" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].Volume">Volym<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Volume" type="number" class="form-control" placeholder="Ex: 900 (in cubic cm)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Volume" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].VolumeUnit">Volymenhet<span class="required">*</span></label>
                    <select asp-for="@Model.Order.Goods[@i].VolumeUnit" class="form-control">
                            <option value="">Select a unit</option>
                            <option value="CBM">Cubic Meter (CBM)</option>
                            <option value="CFT">Cubic Feet (CFT)</option>
                            <option value="L">Liter (L)</option>
                            <option value="Gallon">Gallon (US/Imperial)</option>
                            <option value="In³">Cubic Inches (In³)</option>
                        </select>
                    <span asp-validation-for="@Model.Order.Goods[@i].VolumeUnit" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].GrossWeight">Bruttovikt<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].GrossWeight" type="number" class="form-control" placeholder="Ex: 15 (in kg)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].GrossWeight" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].NetWeight">Nettovikt<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].NetWeight" type="number" class="form-control" placeholder="Ex: 12 (in kg)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].NetWeight" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].Remarks">Anmärkningar</label>
                    <input asp-for="@Model.Order.Goods[@i].Remarks" class="form-control" placeholder="Ex: Fragile, Handle with care, etc..." />
                    <span asp-validation-for="@Model.Order.Goods[@i].Remarks" class="text-danger"></span>
                    }
        <div id="dimensionsContainerSv">
            </div>
        <button type="button" class="cta-button" onclick="addDimension()">Lägg till gods</button>
                </div>





    </div>
    
    
    <div class="order-2">

  
        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Avsändare</h3>
            <label asp-for="Order.ConsignorName">Namn</label>
            <input asp-for="Order.ConsignorName" class="form-control"  />
            <span asp-validation-for="Order.ConsignorName" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress1">Adressrad 1</label>
            <input asp-for="Order.ConsignorAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsignorAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress2">Adressrad 2</label>
            <input asp-for="Order.ConsignorAddress2" class="form-control" />
            <span asp-validation-for="Order.ConsignorAddress2" class="text-danger"></span>

            <label asp-for="Order.ConsignorCity">Stad</label>
            <input asp-for="Order.ConsignorCity" class="form-control"  />
            <span asp-validation-for="Order.ConsignorCity" class="text-danger"></span>

           @*@* <label asp-for="Order.ConsignorCountry">Land</label>
            <select asp-for="Order.ConsignorCountry" asp-items="@(new SelectList((IEnumerable<string>)ViewData["Countries"]))" class="form-control">
                <option value="">Välj land...</option>
            </select>
            <span asp-validation-for="Order.ConsigneeCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsignorZip">Postnummer</label>
            <input asp-for="Order.ConsignorZip" class="form-control"  />
            <span asp-validation-for="Order.ConsignorZip" class="text-danger"></span>

            <label asp-for="Order.ConsignorContact">Kontakt</label>
            <input asp-for="Order.ConsignorContact" class="form-control" />
            <span asp-validation-for="Order.ConsignorContact" class="text-danger"></span>

            <label asp-for="Order.ConsignorPhone">Tel.</label>
            <input asp-for="Order.ConsignorPhone" class="form-control"  />
            <span asp-validation-for="Order.ConsignorPhone" class="text-danger"></span>

            <label asp-for="Order.ConsignorEmail">Email</label>
            <input asp-for="Order.ConsignorEmail" class="form-control" />
            <span asp-validation-for="Order.ConsignorEmail" class="text-danger"></span>
        </div>


        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Mottagare</h3>
            <label asp-for="Order.ConsigneeName">Namn</label>
            <input asp-for="Order.ConsigneeName" class="form-control" />
            <span asp-validation-for="Order.ConsigneeName" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress1">Adressrad 1</label>
            <input asp-for="Order.ConsigneeAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress2">Adressrad 2</label>
            <input asp-for="Order.ConsigneeAddress2" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress2" class="text-danger"></span>

            <label asp-for="Order.ConsigneeCity">Stad</label>
            <input asp-for="Order.ConsigneeCity" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeCity" class="text-danger"></span>

            @*@*<label asp-for="Order.ConsigneeCountry">Land</label>
            <select asp-for="Order.ConsigneeCountry" class="form-control">
                <option value="">Välj land...</option>
                @if (ViewData["Countries"] != null)
                {
                    foreach (var country in (IEnumerable<string>)ViewData["Countries"])
                    {
                        <option value="@country">@country</option>
                    }
                }
            </select>
            <span asp-validation-for="Order.ConsigneeCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsigneeZip">Postnummer</label>
            <input asp-for="Order.ConsigneeZip" class="form-control"/>
            <span asp-validation-for="Order.ConsigneeZip" class="text-danger"></span>

            <label asp-for="Order.ConsigneeContact">Kontakt</label>
            <input asp-for="Order.ConsigneeContact" class="form-control" />
            <span asp-validation-for="Order.ConsigneeContact" class="text-danger"></span>

            <label asp-for="Order.ConsigneePhone">Tel.</label>
            <input asp-for="Order.ConsigneePhone" class="form-control"  />
            <span asp-validation-for="Order.ConsigneePhone" class="text-danger"></span>

            <label asp-for="Order.ConsigneeEmail">Email</label>
            <input asp-for="Order.ConsigneeEmail" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeEmail" class="text-danger"></span>
        </div>



    </div>
    <div class="sleep">
        <div id="loadingSpinner" style="display: none;">
            <div class="spinner"></div>
        </div>

        <button id="loginButton" onclick="startLoginProcess()" type="submit" class="cta-button text-center" style="margin-top:20px" name="OrderSubmitButton">Send</button>
    </div>

</form>


















   

    <div>
        <button id="totop-arrow">
            <i class="fa-solid fa-arrow-up"></i>
        </button>


    </div>







<script>

   
    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('input', function () {
            const feedbackIcon = this.nextElementSibling; // Anta att feedbackIcon är span-elementet direkt efter input
            if (this.value.trim() !== '') {
                feedbackIcon.style.display = 'inline';
            } else {
                feedbackIcon.style.display = 'none';
            }
        });
    });



    setTimeout(function () {
        var successMessage = document.getElementById("success-message");
        successMessage.classList.remove("show");
    }, 5000);

    function startLoginProcess() {
        document.getElementById('loadingSpinner').style.display = 'block';

        // Antag att `login` är funktionen som hanterar inloggningsprocessen.
        login().then(() => {
            document.getElementById('loadingSpinner').style.display = 'none';
        });
    }
    window.addEventListener("load", function () {
        var successMessage = document.getElementById("success-message");
        successMessage.classList.add("show");
    });
    const arrow = document.querySelector('#totop-arrow');
    arrow.addEventListener('click', function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });

    function toggleLanguage() {
        var toggleBtn = document.getElementById('languageToggleBtn');
        var contactForm = document.getElementById('contactForm');
        var contactFormSv = document.getElementById('contactFormSv');

        if (toggleBtn.innerText === 'Svenska') {
            toggleBtn.innerText = 'English';
            contactForm.style.display = 'none';
            contactFormSv.style.display = 'block';
        } else {
            toggleBtn.innerText = 'Svenska';
            contactForm.style.display = 'block';
            contactFormSv.style.display = 'none';
        }
    }



    var dimensionIndex = 0; // Initialiserar dimensionIndex här

    function addDimension() {
        var language = document.getElementById('languageToggleBtn').innerText;
        var isSwedish = language.includes('Svenska');

        var containerId = isSwedish ? 'dimensionsContainerEn' : 'dimensionsContainerSv';
        var container = document.getElementById(containerId);

        var placeholders = isSwedish ? {
            packageId: "Package ID",
            marksNumbers: "Marks Numbers",
            description: "Description",
            packageType: "Package Type",
            pcs: "Number of pieces",
            length: "Length",
            width: "Width",
            height: "Height",
            weight: "Weight",
            volume: "Volume",
            grossWeight: "Gross Weight",
            remarks: "Remarks",
            removeBtn: "Remove"
            
        } : {
            packageId: "PaketID",
            marksNumbers: "Märkningsnummer",
            description: "Beskrivning",
            packageType: "Pakettyp",
            pcs: "Antal stycken",
            length: "Längd",
            width: "Bredd",
            height: "Höjd",
            weight: "Vikt",
            volume: "Volym",
            grossWeight: "Bruttovikt",
            remarks: "Anmärkningar",
            removeBtn: "Ta bort"
        };

        var dimensionHTML = `
            <div id="dimension-${dimensionIndex}" class="dimension-container">
                    <input type="text" name="Order.Goods[${dimensionIndex}].PackageId" placeholder="${placeholders.packageId}" class="form-control" />
                    <input type="text" name="Order.Goods[${dimensionIndex}].MarksNumbers" placeholder="${placeholders.marksNumbers}" class="form-control" />
                    <textarea name="Order.Goods[${dimensionIndex}].Description" placeholder="${placeholders.description}" class="form-control"></textarea>
                    <select name="Order.Goods[${dimensionIndex}].PackageType" class="form-control">
                    <option value="">Select a package type</option>
                    <option value="CTN">CTN - Carton</option>
                    <option value="HPX">HPX - Special packaging</option>
                    <option value="KVT">KVT - Custom type</option>
                    <option value="OTH">OTH - Other</option>
                    <option value="PKG">PKG - Package</option>
                    <option value="PX">PX - Special packaging X</option>
                </select>
                    <input type="number" name="Order.Goods[${dimensionIndex}].Quantity" placeholder="${placeholders.pcs}" class="form-control" />
                    <input type="number" name="Order.Goods[${dimensionIndex}].Length" placeholder="${placeholders.length}" class="form-control" />
                    <input type="number" name="Order.Goods[${dimensionIndex}].Width" placeholder="${placeholders.width}" class="form-control" />
                    <input type="number" name="Order.Goods[${dimensionIndex}].Height" placeholder="${placeholders.height}" class="form-control" />
                    <input type="number" name="Order.Goods[${dimensionIndex}].NetWeight" placeholder="${placeholders.weight}" class="form-control" />
                    <input type="number" name="Order.Goods[${dimensionIndex}].Volume" placeholder="${placeholders.volume}" class="form-control" />
                    <input type="number" name="Order.Goods[${dimensionIndex}].GrossWeight" placeholder="${placeholders.grossWeight}" class="form-control" />
                    <textarea name="Order.Goods[${dimensionIndex}].Remarks" placeholder="${placeholders.remarks}" class="form-control"></textarea>
                <button type="button" class="cta-button" onclick="removeDimension(${dimensionIndex})">${placeholders.removeBtn}</button>
            </div>
        `;

        container.insertAdjacentHTML('beforeend', dimensionHTML);
        dimensionIndex++; // Increment dimensionIndex for each new dimension
    }





    function removeDimension(index) {
        var elementToRemove = document.getElementById(`dimension-${index}`);
        if (elementToRemove) {
            elementToRemove.remove();
        }
    }

   

</script>



   
    