@page
@model MasterArtsWeb.Pages.LogisticsCenter.ShipmentCalculatorModel
@{
}

<body id="ship">

</body>

<h3 class="contact adjusted-anchor-2" id="contact-id">
    Booking
</h3>


    @if (TempData["SuccessMessage"] != null)
    {

        <div class="alert alert-success fade-message text-center" id="success-message" style="margin-top: 10px">@TempData["SuccessMessage"]</div>
    }
<div class="buttons-container" style="margin-top:50px; text-align:center;">
    <a href="/LogisticsCenter/Calculator#contact-id" class="cta-button">Calculator</a>
    <a href="/LogisticsCenter/MyOrdersModel#contact-id" class="cta-button">Bookings</a>
    <p class="customer-number">Kundnummer: @Model.CustomerNumber</p>

</div>





<body id="myShip">

</body>

<div class="language-toggle text-end">
    <button id="languageToggleBtn" class="l-btn" onclick="toggleLanguage()">SWE/ENG</button>
</div>
  



    @*<div class="valuta-3">
        <style>
            .valuta-3 {
                font-family: Arial, sans-serif;
                color: #333;
            }

                .valuta-3 h2 {
                    color: #333;
                    font-size: 1.5em;
                }

                .valuta-3 p {
                    margin: 10px 0;
                    font-size: 1em;
                }

            .fa-money-bill {
                color: #28a745;
                margin-right: 5px;
            }

            .na-text {
                color: #999;
            }
        </style>

        <h2>Current exchange rates with our markup</h2>
        @if (Model.CurrencyData?.Rates != null)
        {
            decimal usdRate, eurRate, gbpRate, dkkRate, nokRate;
            bool hasUsd = Model.CurrencyData.Rates.TryGetValue("USD", out usdRate);
            bool hasEur = Model.CurrencyData.Rates.TryGetValue("EUR", out eurRate);
            bool hasGbp = Model.CurrencyData.Rates.TryGetValue("GBP", out gbpRate);
            bool hasDkk = Model.CurrencyData.Rates.TryGetValue("DKK", out dkkRate);
            bool hasNok = Model.CurrencyData.Rates.TryGetValue("NOK", out nokRate);

            <p>
                <i class="fa-sharp fa-thin fa-money-bill"></i> SEK/USD: @if (hasUsd)
                {
                    @Math.Round((1 / usdRate) + 0.5m, 2)
                }
                else
                {
                    <span class="na-text">N/A</span>
                }
            </p>
            <p>
                <i class="fa-sharp fa-thin fa-money-bill"></i> SEK/EUR: @if (hasEur)
                {
                    @Math.Round((1 / eurRate) + 0.5m, 2)
                }
                else
                {
                    <span class="na-text">N/A</span>
                }
            </p>
            <p>
                <i class="fa-sharp fa-thin fa-money-bill"></i> SEK/GBP: @if (hasGbp)
                {
                    @Math.Round((1 / gbpRate) + 0.5m, 2)
                }
                else
                {
                    <span class="na-text">N/A</span>
                }
            </p>
            <p>
                <i class="fa-sharp fa-thin fa-money-bill"></i> SEK/DKK: @if (hasDkk)
                {
                    @Math.Round((1 / dkkRate) + 0.5m, 2)
                }
                else
                {
                    <span class="na-text">N/A</span>
                }
            </p>
            <p>
                <i class="fa-sharp fa-thin fa-money-bill"></i> SEK/NOK: @if (hasNok)
                {
                    @Math.Round((1 / nokRate) + 0.5m, 2)
                }
                else
                {
                    <span class="na-text">N/A</span>
                }
            </p>
        }
        else
        {
            <p>Valutainformation är inte tillgänglig.</p>
        }
    </div>
*@



<form method="post"  id="contactForm" style="margin-top:100px">
    
    
   
    <div class="form-container-2">
        <h3 class="text-center" style="color:#fff">Details</h3>
           
@*
                <label asp-for="Order.OrderReference">Order reference</label>
        <input asp-for="Order.OrderReference" class="form-control"  />
        <span asp-validation-for="Order.OrderReference" class="text-danger"></span>*@

            <label asp-for="Order.Customer">Customer Number<span class="required">*</span></label>
            <input asp-for="Order.Customer" class="form-control" />
            <span asp-validation-for="Order.Customer" class="text-danger"></span>

               
        
        <label asp-for="Order.TermsOfDelivery">Terms of Delivery</label>
                <select asp-for="Order.TermsOfDelivery" class="form-control">
                    <option value="">Select Terms of Delivery</option>
                    <option value="0001 EXW">0001 EXW</option>
                    <option value="0002 FCA">0002 FCA</option>
                    <option value="0004 CPT">0004 CPT</option>
                    <option value="0009 CIP">0009 CIP</option>
                    <option value="0017 DAP">0017 DAP</option>
                    <option value="0021 DDP">0021 DDP</option>
                    <option value="0026 FAS">0026 FAS</option>
                    <option value="0027 FOB">0027 FOB</option>
                    <option value="0031 CFR">0031 CFR</option>
                    <option value="0034 CIF">0034 CIF</option>
                </select>
                <span asp-validation-for="Order.TermsOfDelivery" class="text-danger"></span>





                <label asp-for="Order.FreightService">Freightservice<span class="required">*</span></label>
        <select asp-for="Order.FreightService" class="form-control">
            <option value="">Select Freight Service</option>
            <option value="OceanFreight">Ocean Freight</option>
            <option value="Airfreight">Airfreight</option>
            <option value="Express Kurir">Express Kurir</option>
            <option value="Road">Road</option>
            <option value="Trainfreight">Trainfreight</option>
            <option value="Standard Kurir">Standard Kurir</option>
            <option value="Linehaul">Linehaul</option>
        </select>
        <span asp-validation-for="Order.FreightService" class="text-danger"></span>

                <label asp-for="Order.PickUpTimeFrom">Delivery Time From<span class="required">*</span></label>
                <input asp-for="Order.PickUpTimeFrom" type="datetime-local" class="form-control" />
                <span asp-validation-for="Order.PickUpTimeFrom" class="text-danger"></span>

                <label asp-for="Order.DeliveryTimeTo">Delivery Time To<span class="required">*</span></label>
                <input asp-for="Order.DeliveryTimeTo" type="datetime-local" class="form-control" />
                <span asp-validation-for="Order.DeliveryTimeTo" class="text-danger"></span>

                <label asp-for="Order.CustomerOrderNumber">Customer Order Number</label>
                <input asp-for="Order.CustomerOrderNumber" class="form-control" />
                <span asp-validation-for="Order.CustomerOrderNumber" class="text-danger"></span>


                <label asp-for="Order.OrderType">Order Type<span class="required">*</span></label>
                <select asp-for="Order.OrderType" class="form-control">
                    <option value="">Select OrderType</option>
                    <option value="Export">Export</option>
                    <option value="Import">Import</option>
                    <option value="Inrikes">Inrikes</option>
                    <option value="Tullhantering">Tullhantering</option>
                    
                </select>
                <span asp-validation-for="Order.OrderType" class="text-danger"></span>



            <label asp-for="Order.OrderReference">Reference</label>
            <input asp-for="Order.OrderReference" class="form-control" />
            <span asp-validation-for="Order.OrderReference" class="text-danger"></span>


                <label asp-for="@Model.Order.TransportModeCode">Transport Mode</label>
                <select asp-for="@Model.Order.TransportModeCode" class="form-control">
                    <option value="">Select a transport mode</option>
                    <option value="11">Sea transport</option>
                    <option value="12">Sea + rail</option>
                    <option value="13">Sea + road</option>
                    <option value="14">Sea + air</option>
                    <option value="21">Rail + sea</option>
                    <option value="22">Rail transport</option>
                    <option value="23">Rail + road</option>
                    <option value="24">Rail + air</option>
                    <option value="31">Road + sea</option>
                    <option value="32">Road + rail</option>
                    <option value="33">Road transport</option>
                    <option value="34">Road + air</option>
                    <option value="41">Air + sea</option>
                    <option value="42">Air + rail</option>
                    <option value="43">Air + road</option>
                    <option value="44">Air transport</option>
                    <option value="55">Postal shipment</option>
                    <option value="99">Self-propulsion</option>
                </select>
                <span asp-validation-for="@Model.Order.TransportModeCode" class="text-danger"></span>


@*
                <label>Pick Up Time From<span class="required">*</span></label>
        <select asp-for="Order.PickUpTimeFrom" class="form-control">
            <option value="08:00-15:00">08:00-15:00</option>
            <option value="09:00-16:00">09:00-16:00</option>
            <!-- Lägg till fler alternativ vid behov -->
        </select>

                <label>Pick Up Time To<span class="required">*</span></label>
        <select asp-for="Order.PickUpTimeTo" class="form-control">
            <option value="08:00-15:00">08:00-15:00</option>
            <option value="09:00-16:00">09:00-16:00</option>
            <!-- Lägg till fler alternativ vid behov -->
        </select>*@
    </div>


        


       

            
       <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Goods</h3>
           
                @for (int i = 0; i < Model.Order.Goods.Count; i++)
                {
                
                    <label asp-for="Goods[@i].PackageId">Package ID<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].PackageId" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].PackageId" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].MarksNumbers">Marks Numbers<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].MarksNumbers" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].MarksNumbers" class="text-danger"></span>



                <label asp-for="@Model.Order.Goods[@i].Description">Description<span class="required">*</span></label>
                <textarea asp-for="@Model.Order.Goods[@i].Description" class="form-control" placeholder="Ex: Electronics, fragile items, etc..."></textarea>
                <span asp-validation-for="@Model.Order.Goods[@i].Description" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].PackageType">Package Type</label>
                    <select asp-for="@Model.Order.Goods[@i].PackageType" class="form-control">
                        <option value="">Select a package type</option>
                        <option value="CTN">CTN - Carton</option>
                        <option value="HPX">HPX - Special packaging</option>
                        <option value="KVT">KVT - Custom type</option>
                        <option value="OTH">OTH - Other</option>
                        <option value="PKG">PKG - Package</option>
                        <option value="PX">PX - Special packaging X</option>
                    </select>
                    <span asp-validation-for="@Model.Order.Goods[@i].PackageType" class="text-danger"></span>


                <label asp-for="@Model.Order.Goods[@i].OrderId">Quantity<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].OrderId" type="number" class="form-control" />
                <span asp-validation-for="@Model.Order.Goods[@i].OrderId" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Quantity">Quantity<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Quantity" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].Quantity" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Height">Height<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Height" type="number" class="form-control" />
                <span asp-validation-for="@Model.Order.Goods[@i].Height" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].Length">Length<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Length" type="number" class="form-control" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Length" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Width">Width<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Width" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].Width" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Volume">Volume<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Volume" type="number" step="0.01" class="form-control" />

                <span asp-validation-for="@Model.Order.Goods[@i].Volume" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].VolumeUnit">Volume Unit<span class="required">*</span></label>
                <select asp-for="@Model.Order.Goods[@i].VolumeUnit" class="form-control">
                    <option value="">Select a unit</option>
                    <option value="CBM">Cubic Meter (CBM)</option>
                    <option value="CFT">Cubic Feet (CFT)</option>
                    <option value="L">Liter (L)</option>
                    <option value="Gallon">Gallon (US/Imperial)</option>
                    <option value="In³">Cubic Inches (In³)</option>
                </select>
                <span asp-validation-for="Order.Goods[@i].VolumeUnit" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].GrossWeight">Gross Weight<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].GrossWeight" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].GrossWeight" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].NetWeight">Net Weight<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].NetWeight" type="number" class="form-control"  />
                <span asp-validation-for="@Model.Order.Goods[@i].NetWeight" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Remarks">Remarks</label>
                <input asp-for="@Model.Order.Goods[@i].Remarks" class="form-control" placeholder="Ex: Fragile, Handle with care, etc..." />
                <span asp-validation-for="@Model.Order.Goods[@i].Remarks" class="text-danger"></span>
                }
            <div id="goodsContainer">
                
            </div>
            <button type="button" id="addGoodsBtn">Add Goods</button>


        </div>
        
       
        

    

        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Consignor</h3>
            <label asp-for="Order.ConsignorName">Consignor Name</label>
            <input asp-for="Order.ConsignorName" class="form-control" />
            <span asp-validation-for="Order.ConsignorName" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress1">Consignor Address 1</label>
            <input asp-for="Order.ConsignorAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsignorAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress2">Consignor Address 2</label>
            <input asp-for="Order.ConsignorAddress2" class="form-control"  />
            <span asp-validation-for="Order.ConsignorAddress2" class="text-danger"></span>


            <label asp-for="Order.ConsignorCity">Consignor City</label>
            <input asp-for="Order.ConsignorCity" class="form-control"  />
            <span asp-validation-for="Order.ConsignorCity" class="text-danger"></span>

@*@*
            <label asp-for="Order.ConsignorCountry">Consignor Country</label>
            <select asp-for="Order.ConsignorCountry" asp-items="@(new SelectList((IEnumerable<string>)ViewData["Countries"]))" class="form-control">
                <option value="">Select country...</option>
                <!-- Add country options dynamically if needed -->
            </select>
            <span asp-validation-for="Order.ConsignorCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsignorZip">Consignor Zip</label>
            <input asp-for="Order.ConsignorZip" class="form-control"  />
            <span asp-validation-for="Order.ConsignorZip" class="text-danger"></span>


            <label asp-for="Order.ConsignorContact">Consignor Contact</label>
            <input asp-for="Order.ConsignorContact" class="form-control" />
            <span asp-validation-for="Order.ConsignorContact" class="text-danger"></span>

            <label asp-for="Order.ConsignorPhone">Consignor Phone</label>
            <input asp-for="Order.ConsignorPhone" class="form-control"  />
            <span asp-validation-for="Order.ConsignorPhone" class="text-danger"></span>

            <label asp-for="Order.ConsignorEmail">Consignor Email</label>
            <input asp-for="Order.ConsignorEmail" class="form-control"  />
            <span asp-validation-for="Order.ConsignorEmail" class="text-danger"></span>
        </div>


        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Consignee</h3>
            <label asp-for="Order.ConsigneeName">Consignee Name</label>
            <input asp-for="Order.ConsigneeName" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeName" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress1">Consignee Address 1</label>
            <input asp-for="Order.ConsigneeAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress2">Consignee Address 2 (Optional)</label>
            <input asp-for="Order.ConsigneeAddress2" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress2" class="text-danger"></span>

            <label asp-for="Order.ConsigneeCity">Consignee City</label>
            <input asp-for="Order.ConsigneeCity" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeCity" class="text-danger"></span>

               @* <label asp-for="Order.ConsigneeCountry">Consignor Country</label>
                <select asp-for="Order.ConsigneeCountry" asp-items="@(new SelectList((IEnumerable<string>)ViewData["Countries"]))" class="form-control">
                    <option value="">Select country...</option>
                    <!-- Add country options dynamically if needed -->
                </select>
                <span asp-validation-for="Order.ConsigneeCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsigneeZip">Consignee Zip</label>
            <input asp-for="Order.ConsigneeZip" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeZip" class="text-danger"></span>

            <label asp-for="Order.ConsigneeContact">Consignee Contact</label>
            <input asp-for="Order.ConsigneeContact" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeContact" class="text-danger"></span>

            <label asp-for="Order.ConsigneePhone">Consignee Phone</label>
            <input asp-for="Order.ConsigneePhone" class="form-control"  />
            <span asp-validation-for="Order.ConsigneePhone" class="text-danger"></span>

            <label asp-for="Order.ConsigneeEmail">Consignee Email</label>
            <input asp-for="Order.ConsigneeEmail" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeEmail" class="text-danger"></span>
        </div>

  

   

    
    <button type="submit" class="btn-large text-center" style="margin-top:20px">Send Order</button>
</form>



<form method="post"  id="contactFormSv" style="margin-top:100px;display:none">


   
        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Detaljer</h3>
            

            @*@*<label asp-for="Order.OrderReference">Orderreferens</label>
            <input asp-for="Order.OrderReference" class="form-control" placeholder="Exempel: REF123" />
            <span asp-validation-for="Order.OrderReference" class="text-danger"></span>*@

            <label asp-for="Order.Customer">Kund</label>
            <input asp-for="Order.Customer" class="form-control" placeholder="Exempel: John Doe" />
            <span asp-validation-for="Order.Customer" class="text-danger"></span>


                <label asp-for="Order.TermsOfDelivery">Leveransvillkor</label>
                <select asp-for="Order.TermsOfDelivery" class="form-control">
                    <option value="">Select Terms of Delivery</option>
                    <option value="0001 EXW">0001 EXW</option>
                    <option value="0002 FCA">0002 FCA</option>
                    <option value="0004 CPT">0004 CPT</option>
                    <option value="0009 CIP">0009 CIP</option>
                    <option value="0017 DAP">0017 DAP</option>
                    <option value="0021 DDP">0021 DDP</option>
                    <option value="0026 FAS">0026 FAS</option>
                    <option value="0027 FOB">0027 FOB</option>
                    <option value="0031 CFR">0031 CFR</option>
                    <option value="0034 CIF">0034 CIF</option>
                </select>
                <span asp-validation-for="Order.TermsOfDelivery" class="text-danger"></span>



            <label asp-for="Order.FreightService">Fraktjänst</label>
            <select asp-for="Order.FreightService" class="form-control">
                <option value="">Välj Fraktjänst</option>
                <option value="OceanFreight">Sjöfrakt</option>
                <option value="Airfreight">Flygfrakt</option>
                <option value="ExpressKurir">Expresskurir</option>
                <option value="Road">Vägtransport</option>
                <option value="Trainfreight">Tågfrakt</option>
                <option value="StandardKurir">Standardkurir</option>
                <option value="Linehaul">Linehaul</option>
            </select>
            <span asp-validation-for="Order.FreightService" class="text-danger"></span>

            <label asp-for="Order.PickUpTimeFrom">Lastdatum</label>
            <input asp-for="Order.PickUpTimeFrom"  class="form-control" />
            <span asp-validation-for="Order.PickUpTimeFrom" class="text-danger"></span>

            <label asp-for="Order.DeliveryTimeTo">Lossningsdatum</label>
            <input asp-for="Order.DeliveryTimeTo"  class="form-control" />
            <span asp-validation-for="Order.DeliveryTimeTo" class="text-danger"></span>
                
            <label asp-for="Order.CustomerOrderNumber">Customer Order Number</label>
                <input asp-for="Order.CustomerOrderNumber" class="form-control" placeholder="Ex: ABC123" />
                <span asp-validation-for="Order.CustomerOrderNumber" class="text-danger"></span>

                <label asp-for="Order.OrderType">Ordertyp<span class="required">*</span></label>
                <select asp-for="Order.OrderType" class="form-control">
                    <option value="">Välj Ordertyp</option>
                    <option value="Export">Export</option>
                    <option value="Import">Import</option>
                    <option value="Inrikes">Inrikes</option>
                    <option value="Tullhantering">Tullhantering</option>

                </select>
                <span asp-validation-for="Order.OrderType" class="text-danger"></span>

                <label asp-for="@Model.Order.TransportModeCode">Transportläge</label>
                <select asp-for="@Model.Order.TransportModeCode" class="form-control">
                    <option value="">Välj ett transportläge</option>
                    <option value="11">Sjötransport</option>
                    <option value="12">Sjö + tåg</option>
                    <option value="13">Sjö + väg</option>
                    <option value="14">Sjö + flyg</option>
                    <option value="21">Tåg + sjö</option>
                    <option value="22">Tågtransport</option>
                    <option value="23">Tåg + väg</option>
                    <option value="24">Tåg + flyg</option>
                    <option value="31">Väg + sjö</option>
                    <option value="32">Väg + tåg</option>
                    <option value="33">Vägtransport</option>
                    <option value="34">Väg + flyg</option>
                    <option value="41">Flyg + sjö</option>
                    <option value="42">Flyg + tåg</option>
                    <option value="43">Flyg + väg</option>
                    <option value="44">Flygtransport</option>
                    <option value="55">Postförsändelse</option>
                    <option value="99">Egen framdrivning</option>
                </select>
                <span asp-validation-for="@Model.Order.TransportModeCode" class="text-danger"></span>

            <label asp-for="Order.OrderReference">Reference</label>
            <input asp-for="Order.OrderReference" class="form-control" />
            <span asp-validation-for="Order.OrderReference" class="text-danger"></span>

         @*   <label>Lastningstidfönster</label>
            <select asp-for="Order.PickUpTimeFrom" class="form-control">
                <option value="08:00-15:00">08:00-15:00</option>
                <option value="09:00-16:00">09:00-16:00</option>
                <!-- Lägg till fler alternativ om det behövs -->
            </select>

            <label>Lossningstidfönster</label>
            <select asp-for="Order.PickUpTimeTo" class="form-control">
                <option value="08:00-15:00">08:00-15:00</option>
                <option value="09:00-16:00">09:00-16:00</option>
                <!-- Lägg till fler alternativ om det behövs -->
            </select>
        </div>*@


            </div>

                <div class="form-container-2">
                    <h3 class="text-center" style="color:#fff">Goods</h3>
                    @for (int i = 0; i < Model.Order.Goods.Count; i++)
                    {
                    <label asp-for="@Model.Order.Goods[@i].PackageId">PaketID<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].PackageId" class="form-control" placeholder="Ex: ABC123" />
                        <span asp-validation-for="Goods[@i].PackageId" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].MarksNumbers">Marks Numbers<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].MarksNumbers" class="form-control" placeholder="Ex: MN12345" />
                    <span asp-validation-for="@Model.Order.Goods[@i].MarksNumbers" class="text-danger"></span>



                    <label asp-for="@Model.Order.Goods[@i].Description">Beskrivning<span class="required">*</span></label>
                    <textarea asp-for="@Model.Order.Goods[@i].Description" class="form-control" placeholder="Ex: Electronics, fragile items, etc..."></textarea>
                    <span asp-validation-for="@Model.Order.Goods[@i].Description" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].PackageType">Pakettyp</label>
                    <select asp-for="@Model.Order.Goods[@i].PackageType" class="form-control">
                        <option value="">Select a package type</option>
                        <option value="CTN">CTN - Carton</option>
                        <option value="HPX">HPX - Special packaging</option>
                        <option value="KVT">KVT - Custom type</option>
                        <option value="OTH">OTH - Other</option>
                        <option value="PKG">PKG - Package</option>
                        <option value="PX">PX - Special packaging X</option>
                    </select>
                    <span asp-validation-for="@Model.Order.Goods[@i].PackageType" class="text-danger"></span>


                    <label asp-for="@Model.Order.Goods[@i].Quantity">Antal<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Quantity" type="number" class="form-control" placeholder="Ex: 10" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Quantity" class="text-danger"></span>

                <label asp-for="@Model.Order.Goods[@i].Length">Längd<span class="required">*</span></label>
                <input asp-for="@Model.Order.Goods[@i].Length" type="number" class="form-control" placeholder="Ex: 30 (in cm)" />
                <span asp-validation-for="@Model.Order.Goods[@i].Length" class="text-danger"></span>
                 
                <label asp-for="@Model.Order.Goods[@i].Height">Höjd<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Height" type="number" class="form-control" placeholder="Ex: 20 (in cm)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Height" class="text-danger"></span>


                    <label asp-for="@Model.Order.Goods[@i].Width">Bredd<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Width" type="number" class="form-control" placeholder="Ex: 15 (in cm)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Width" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].Volume">Volym<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].Volume" type="number" class="form-control" placeholder="Ex: 900 (in cubic cm)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].Volume" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].VolumeUnit">Volymenhet<span class="required">*</span></label>
                    <select asp-for="@Model.Order.Goods[@i].VolumeUnit" class="form-control">
                            <option value="">Select a unit</option>
                            <option value="CBM">Cubic Meter (CBM)</option>
                            <option value="CFT">Cubic Feet (CFT)</option>
                            <option value="L">Liter (L)</option>
                            <option value="Gallon">Gallon (US/Imperial)</option>
                            <option value="In³">Cubic Inches (In³)</option>
                        </select>
                    <span asp-validation-for="@Model.Order.Goods[@i].VolumeUnit" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].GrossWeight">Bruttovikt<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].GrossWeight" type="number" class="form-control" placeholder="Ex: 15 (in kg)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].GrossWeight" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].NetWeight">Nettovikt<span class="required">*</span></label>
                    <input asp-for="@Model.Order.Goods[@i].NetWeight" type="number" class="form-control" placeholder="Ex: 12 (in kg)" />
                    <span asp-validation-for="@Model.Order.Goods[@i].NetWeight" class="text-danger"></span>

                    <label asp-for="@Model.Order.Goods[@i].Remarks">Anmärkningar</label>
                    <input asp-for="@Model.Order.Goods[@i].Remarks" class="form-control" placeholder="Ex: Fragile, Handle with care, etc..." />
                    <span asp-validation-for="@Model.Order.Goods[@i].Remarks" class="text-danger"></span>
                    }
            <div id="goodsContainerSv">
            </div>
            <button type="button" id="addGoodsBtnSv">Lägg till fler Goods</button>
                </div>
        
            


    
      
    
    
    
        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Avsändare</h3>
            <label asp-for="Order.ConsignorName">Namn</label>
            <input asp-for="Order.ConsignorName" class="form-control"  />
            <span asp-validation-for="Order.ConsignorName" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress1">Adressrad 1</label>
            <input asp-for="Order.ConsignorAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsignorAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsignorAddress2">Adressrad 2</label>
            <input asp-for="Order.ConsignorAddress2" class="form-control" />
            <span asp-validation-for="Order.ConsignorAddress2" class="text-danger"></span>

            <label asp-for="Order.ConsignorCity">Stad</label>
            <input asp-for="Order.ConsignorCity" class="form-control"  />
            <span asp-validation-for="Order.ConsignorCity" class="text-danger"></span>

           @*@* <label asp-for="Order.ConsignorCountry">Land</label>
            <select asp-for="Order.ConsignorCountry" asp-items="@(new SelectList((IEnumerable<string>)ViewData["Countries"]))" class="form-control">
                <option value="">Välj land...</option>
            </select>
            <span asp-validation-for="Order.ConsigneeCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsignorZip">Postnummer</label>
            <input asp-for="Order.ConsignorZip" class="form-control"  />
            <span asp-validation-for="Order.ConsignorZip" class="text-danger"></span>

            <label asp-for="Order.ConsignorContact">Kontakt</label>
            <input asp-for="Order.ConsignorContact" class="form-control" />
            <span asp-validation-for="Order.ConsignorContact" class="text-danger"></span>

            <label asp-for="Order.ConsignorPhone">Tel.</label>
            <input asp-for="Order.ConsignorPhone" class="form-control"  />
            <span asp-validation-for="Order.ConsignorPhone" class="text-danger"></span>

            <label asp-for="Order.ConsignorEmail">Email</label>
            <input asp-for="Order.ConsignorEmail" class="form-control" />
            <span asp-validation-for="Order.ConsignorEmail" class="text-danger"></span>
        </div>


        <div class="form-container-2">
            <h3 class="text-center" style="color:#fff">Mottagare</h3>
            <label asp-for="Order.ConsigneeName">Namn</label>
            <input asp-for="Order.ConsigneeName" class="form-control" />
            <span asp-validation-for="Order.ConsigneeName" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress1">Adressrad 1</label>
            <input asp-for="Order.ConsigneeAddress1" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress1" class="text-danger"></span>

            <label asp-for="Order.ConsigneeAddress2">Adressrad 2</label>
            <input asp-for="Order.ConsigneeAddress2" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeAddress2" class="text-danger"></span>

            <label asp-for="Order.ConsigneeCity">Stad</label>
            <input asp-for="Order.ConsigneeCity" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeCity" class="text-danger"></span>

            @*@*<label asp-for="Order.ConsigneeCountry">Land</label>
            <select asp-for="Order.ConsigneeCountry" class="form-control">
                <option value="">Välj land...</option>
                @if (ViewData["Countries"] != null)
                {
                    foreach (var country in (IEnumerable<string>)ViewData["Countries"])
                    {
                        <option value="@country">@country</option>
                    }
                }
            </select>
            <span asp-validation-for="Order.ConsigneeCountry" class="text-danger"></span>*@

            <label asp-for="Order.ConsigneeZip">Postnummer</label>
            <input asp-for="Order.ConsigneeZip" class="form-control"/>
            <span asp-validation-for="Order.ConsigneeZip" class="text-danger"></span>

            <label asp-for="Order.ConsigneeContact">Kontakt</label>
            <input asp-for="Order.ConsigneeContact" class="form-control" />
            <span asp-validation-for="Order.ConsigneeContact" class="text-danger"></span>

            <label asp-for="Order.ConsigneePhone">Tel.</label>
            <input asp-for="Order.ConsigneePhone" class="form-control"  />
            <span asp-validation-for="Order.ConsigneePhone" class="text-danger"></span>

            <label asp-for="Order.ConsigneeEmail">Email</label>
            <input asp-for="Order.ConsigneeEmail" class="form-control"  />
            <span asp-validation-for="Order.ConsigneeEmail" class="text-danger"></span>
        </div>


    


        <button type="submit" class="btn-large text-center" style="margin-top:20px" id="OrderSubmitButton" name="OrderSubmitButton">Skicka Order</button>

</form>


















   

    <div>
        <button id="totop-arrow">
            <i class="fa-solid fa-arrow-up"></i>
        </button>


    </div>







<script>
    setTimeout(function () {
        var successMessage = document.getElementById("success-message");
        successMessage.classList.remove("show");
    }, 5000);

    
    window.addEventListener("load", function () {
        var successMessage = document.getElementById("success-message");
        successMessage.classList.add("show");
    });
    const arrow = document.querySelector('#totop-arrow');
    arrow.addEventListener('click', function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });

    function toggleLanguage() {
        var toggleBtn = document.getElementById('languageToggleBtn');
        var contactForm = document.getElementById('contactForm');
        var contactFormSv = document.getElementById('contactFormSv');

        if (toggleBtn.innerText === 'Svenska') {
            toggleBtn.innerText = 'English';
            contactForm.style.display = 'none';
            contactFormSv.style.display = 'block';
        } else {
            toggleBtn.innerText = 'Svenska';
            contactForm.style.display = 'block';
            contactFormSv.style.display = 'none';
        }
    }



    document.getElementById('addGoodsBtn').addEventListener('click', function () {
        var index = document.querySelectorAll('.goods-item').length; // To ensure unique names
        var newGoods = document.createElement('div');
        newGoods.className = 'goods-item'; // For styling or future selection if needed
        newGoods.innerHTML = `
            <div class="form-group">
                <label>PackageId</label>
                <input type="text" name="Order.Goods[${index}].PackageId"  class="form-control" />
            </div>
            <div class="form-group">
                <label>Mark Numbers</label>
                <input type="text" name="Order.Goods[${index}].MarksNumbers"  class="form-control" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="Order.Goods[${index}].Description"  class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Package Type</label>
                <select name="Order.Goods[${index}].PackageType" class="form-control">
                    <option value="CTN">CTN - Carton</option>
                    <option value="HPX">HPX - Special packaging</option>
                    <option value="KVT">KVT - Custom type</option>
                    <option value="OTH">OTH - Other</option>
                    <option value="PKG">PKG - Package</option>
                    <option value="PX">PX - Special packaging X</option>
                </select>
            </div>
            <div class="form-group">
                    <label>Quantity</label>
                <input type="number" name="Order.Goods[${index}].Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <label>Weight</label>
                    <input type="number" step="0.01" name="Order.Goods[${index}].Weight"  class="form-control" />
            </div>
            <div class="form-group">
                <label>Volume</label>
                <input type="number" step="0.01" name="Order.Goods[${index}].Volume"  class="form-control" />
            </div>
            <div class="form-group">
                    <label>Remarks</label>
                    <input type="text" name="Order.Goods[${index}].Remarks" class="form-control" />
            </div>
                <div class="form-group">
                        <label>VolumetricWeight</label>
                        <input type="text" name="Order.Goods[${index}].VolumetricWeight"  class="form-control" />
                </div>
                    <div class="form-group">
                                <label>NetWeight</label>
                            <input type="text" name="Order.Goods[${index}].NetWeight"  class="form-control" />
                    </div
                        </div>
                        <div class="form-group">
                                <label>VolumeUnit</label>
                                         <select name="Order.Goods[${index}].VolumeUnit" class="form-control">
                                        <option value="">Select a unit</option>
                                <option value="CBM">Cubic Meter (CBM)</option>
                                <option value="CFT">Cubic Feet (CFT)</option>
                                <option value="L">Liter (L)</option>
                                <option value="Gallon">Gallon (US/Imperial)</option>
                                <option value="In³">Cubic Inches (In³)</option>
                                     </select>
                        </div>
                            <div class="form-group">
                                    <label>GrossWeight</label>
                                            <input type="text" name="Order.Goods[${index}].GrossWeight" class="form-control" />
                            </div>
            <!-- Add any additional fields as needed -->
        `;

        // Append the new goods form to the container
        document.getElementById('goodsContainer').appendChild(newGoods);
    });

    document.getElementById('addGoodsBtnSv').addEventListener('click', function () {
        var index = document.querySelectorAll('.goods-item').length; // To ensure unique names
        var newGoods = document.createElement('div');
        newGoods.className = 'goods-item'; // For styling or future selection if needed
        newGoods.innerHTML = `
                <div class="form-group">
                    <label>Paket ID</label>
                    <input type="text" name="Order.Goods[${index}].PackageId"  class="form-control" />
                </div>
                <div class="form-group">
                    <label>Märknummer</label>
                    <input type="text" name="Order.Goods[${index}].MarksNumbers" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Beskrivning</label>
                    <textarea name="Order.Goods[${index}].Description"  class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Pakettyp</label>
                    <select name="Order.Goods[${index}].PackageType" class="form-control">
                        <option value="CTN">CTN - Carton</option>
                        <option value="HPX">HPX - Special packaging</option>
                        <option value="KVT">KVT - Custom type</option>
                        <option value="OTH">OTH - Other</option>
                        <option value="PKG">PKG - Package</option>
                        <option value="PX">PX - Special packaging X</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Antal</label>
                    <input type="number" name="Order.Goods[${index}].Quantity"  class="form-control" />
                </div>
                <div class="form-group">
                    <label>Vikt (kg)</label>
                        <input type="number" step="0.01" name="Order.Goods[${index}].Weight"  class="form-control" />
                </div>
                <div class="form-group">
                    <label>Volym</label>
                    <input type="number" step="0.01" name="Order.Goods[${index}].Volume" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Anmärkningar</label>
                        <input type="text" name="Order.Goods[${index}].Remarks"  class="form-control" />
                </div>
                    <div class="form-group">
                        <label>Volymvikt</label>
                            <input type="text" name="Order.Goods[${index}].VolumetricWeight"  class="form-control" />
                    </div>
                        <div class="form-group">
                                <label>Nettovikt</label>
                                <input type="text" name="Order.Goods[${index}].NetWeight"  class="form-control" />
                        </div
                            </div>
                            <div class="form-group">
                                    <label>Volymenhet</label>
                                             <select name="Order.Goods[${index}].VolumeUnit" class="form-control">
                                            <option value="">Select a unit</option>
                                    <option value="CBM">Cubic Meter (CBM)</option>
                                    <option value="CFT">Cubic Feet (CFT)</option>
                                    <option value="L">Liter (L)</option>
                                    <option value="Gallon">Gallon (US/Imperial)</option>
                                    <option value="In³">Cubic Inches (In³)</option>
                                         </select>
                            </div>
                                <div class="form-group">
                                        <label>Bruttovikt</label>
                                                <input type="text" name="Order.Goods[${index}].GrossWeight" class="form-control" />
                                </div>
                
            `;

        // Append the new goods form to the container
        document.getElementById('goodsContainerSv').appendChild(newGoods);
    });

</script>



   
    





