@page
@model MasterArtsWeb.Pages.NordicApi.FclRequestModel
@{
}
<h3 class="contact adjusted-anchor-2" id="contact-id" style="margin-top:100px">
    Calculate Rates
</h3>
<div style="margin-top:100px;">
    <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">Back</a>
</div>
<div class="language-toggle text-end">
    <button id="languageToggleBtn" class="l-btn" onclick="toggleLanguage()">Svenska</button>
</div>
<div class="text-center shipping-cost-calculator">
    <h3 id="resultSection"></h3>

    @if (Model.ApiResponse != null)
    {
        <h3 class="totals-title">Totals</h3>
        <ul class="totals-list">
            @foreach (var total in Model.ApiResponse.Totals)
            {
                <li class="total-item">@total.Currency: @total.Sum (Kurs: @total.ExchangeRate)</li>
            }
        </ul>

    }
</div>


<form method="post" id="contactForm" style="margin-top:50px">
    <div class="form-container-2">
        <div>
            <label asp-for="@Model.FclRequest.Module">Transport Module</label>
            <select asp-for="@Model.FclRequest.Module">
                
                <option value="rail">Rail</option>
                <!-- Lägg till fler transportmoduler här -->
            </select>
        </div>
        <div>

           

            <div>
                <label asp-for="@Model.FclRequest.InlandZipCode">Inland Zip Code</label>
                <input asp-for="@Model.FclRequest.InlandZipCode" />
            </div>
            <div>
                <label asp-for="@Model.FclRequest.Weight">Weight</label>
                <input asp-for="@Model.FclRequest.Weight" type="number" />
            </div>
            

            <div>
                <label asp-for="@Model.FclRequest.Date">Date</label>
                <input asp-for="@Model.FclRequest.Date" type="date" />
            </div>
            <label asp-for="@Model.FclRequest.ImportExport">Import/Export</label>
            <select asp-for="@Model.FclRequest.ImportExport">
                <option value="import">Import</option>
                <option value="export">Export</option>
            </select>
        </div>


        <!-- Displaying "LCL" as a text to the user, assuming "LCL" is the only option needed. -->
        <!-- Hidden input to ensure "LCL" is submitted as the value -->
        <input type="hidden" asp-for="@Model.FclRequest.Type" value="fcl" />


        <div>
            <label for="fromCode">From Code</label>
            <input type="text" id="fromCode" name="FclRequest.FromCode" placeholder="Ex: NOOSL" aria-describedby="fromCodeHelp">
            <span id="fromCodeHelp" class="form-text">Enter the UN/LOCODE for the origin location, e.g., "NOOSL" for Oslo.</span>
            <span class="text-danger"></span>
        </div>
        <div>
            <label for="toCode">To Code</label>
            <input type="text" id="toCode" name="FclRequest.ToCode" placeholder="Ex: SESTO" aria-describedby="toCodeHelp">
            <span id="toCodeHelp" class="form-text">Enter the UN/LOCODE for the destination location, e.g., "SESTO" for Stockholm.</span>
        </div>

        

        <div class="form-group">
            <label asp-for="@Model.FclRequest.NoOfContainers">Number of Containers</label>
            <input asp-for="@Model.FclRequest.NoOfContainers" type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.FclRequest.ContainerMode">Container Mode</label>
            <select asp-for="@Model.FclRequest.ContainerMode" class="form-control">
                <option value="">Select a mode...</option>
                <option value="ftl">Full Truck Load (FTL)</option>
                <option value="ltl">Less Than Truckload (LTL)</option>
                <!-- Fler alternativ kan läggas till här -->
            </select>
        </div>
        <!-- Fyll i fler fält enligt ovanstående mönster -->
       
       
    </div>

   

        <button type="button" onclick="addDimension()">Lägg till Dimension</button>

        <br>

    
    <div id="loadingSpinner" style="display: none;">
        <div class="spinner"></div>
    </div>
    <button id="loginButton" onclick="startLoginProcess()" type="submit" class="btn-large">Beräkna fraktkostnader</button>
</form>

@section Scripts {
    <script>
        function startLoginProcess() {
            document.getElementById('loadingSpinner').style.display = 'block';
            document.getElementById('loadingSpinner2').style.display = 'block';
            // Antag att `login` är funktionen som hanterar inloggningsprocessen.
            login().then(() => {
                document.getElementById('loadingSpinner').style.display = 'none';
            });
        }

        window.onload = function () {
            var resultSection = document.getElementById('resultSection');
            if (resultSection) {
                resultSection.scrollIntoView({ behavior: 'smooth' });
            }
        };

        function toggleLanguage() {
            var toggleBtn = document.getElementById('languageToggleBtn');
            var contactForm = document.getElementById('contactForm');
            var contactFormSv = document.getElementById('contactFormSv');

            if (toggleBtn.innerText === 'Svenska') {
                toggleBtn.innerText = 'English';
                contactForm.style.display = 'none';
                contactFormSv.style.display = 'block';
            } else {
                toggleBtn.innerText = 'Svenska';
                contactForm.style.display = 'block';
                contactFormSv.style.display = 'none';
            }
        }
        var dimensionIndex = 0;
        function addOption() {
            var container = document.getElementById('optionsContainer');
            var optionHTML = `
                        <div id="option-${optionIndex}">
                            <select name="ShippingRequest.Options[${optionIndex}].Key">
                                <option value="vgm">VGM</option>
                                <option value="incoterms">Incoterms</option>
                                <!-- Lägg till fler fördefinierade nycklar här -->
                            </select>
                            <select name="ShippingRequest.Options[${optionIndex}].Value">
                                <option value="true">True</option>
                                <option value="false">False</option>
                                <!-- Specifika värden för Incoterms, exempelvis -->
                                <option value="dap">DAP</option>
                                <option value="exw">EXW</option>
                                <option value="fob">FOB</option>
                            </select>
                            <button type="button" onclick="removeOption(${optionIndex})">Ta bort</button>
                        </div>
                    `;
            container.insertAdjacentHTML('beforeend', optionHTML);
            optionIndex++;
        }




        function addDimension() {
            var language = document.getElementById('languageToggleBtn').innerText;
            var isSwedish = language.includes('Svenska');

            var containerId = isSwedish ? 'dimensionsContainerEn' : 'dimensionsContainerSv';
            var container = document.getElementById(containerId);

            var placeholders = isSwedish ? {

                pcs: "Number of pieces",
                length: "Length",
                width: "Width",
                height: "Height",
                weight: "Weight",
                yes: "Yes",
                no: "No",
                removeBtn: "Remove"


            } : {
                pcs: "Antal stycken",
                length: "Längd",
                width: "Bredd",
                height: "Höjd",
                weight: "Vikt",
                yes: "Ja",
                no: "Nej",
                removeBtn: "Ta bort"
            };

            var dimensionHTML = `
                        <div id="dimension-${dimensionIndex}">
                            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Pcs" placeholder="${placeholders.pcs}" />
                            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Length" placeholder="${placeholders.length}" />
                            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Width" placeholder="${placeholders.width}" />
                            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Height" placeholder="${placeholders.height}" />
                            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Weight" placeholder="${placeholders.weight}" />
                            <select name="ShippingRequest.Dimensions[${dimensionIndex}].Stackable">
                                <option value="true">${placeholders.yes}</option>
                                <option value="false">${placeholders.no}</option>
                            </select>
                            <button type="button" onclick="removeDimension(${dimensionIndex})">${placeholders.removeBtn}</button>
                        </div>
                    `;

            container.insertAdjacentHTML('beforeend', dimensionHTML);
            dimensionIndex++;
        }




        function removeDimension(index) {
            var elementToRemove = document.getElementById(`dimension-${index}`);
            if (elementToRemove) {
                elementToRemove.remove();
            }
        }
    </script>
}