@page
@model MasterArtsWeb.Pages.AboutModel
@{
}







<h3 class="contact adjusted-anchor-2" id="contact-id">
    @if (@Model.CurrentLanguage == "sv")
    {
       <span>OM OSS</span>
    }
    else
    {
        <span>ABOUT</span>
    }
</h3>

<form method="post" id="languageForm">
    <div id="language-switch">
        <button type="submit" class="l-btn">SWE/ENG</button>
    </div>
</form>





<div class="section" style="background-color:#2c3e50">
    <div style="color:#fff">
        @if (@Model.CurrentLanguage == "sv")
        {
            <h2 style ="color:#333">Upptäck Konsten Av Logistik Med Oss</h2>

            <p style="color:#333">Företaget positionerar sig som en fristående och oberoende logistikpartner som specialiserar sig på att skräddarsy de mest optimala logistiklösningarna för sina kunder. Liknande en fastighetsmäklare som hittar det perfekta kontoret, en rekryteringskonsult som söker efter ideal personal, eller en försäkringsmäklare som ordnar den bästa försäkringen, tar företaget på sig rollen att navigera i logistikbranschen för att identifiera och samarbeta med de mest lämpliga partnerna för varje unikt uppdrag. Genom att ansvara för kommunikationen mellan alla inblandade parter håller de kunden kontinuerligt uppdaterad genom hela processen, alltid med målet att hitta den rätta partnern för varje specifikt behov. </p>
            <p style="color:#333">Med ARTS blir logistiken enklare och mer transparent än någonsin tidigare. Vi tror på att hålla det enkelt för våra kunder, vilket är varför när du väljer oss, får du inte bara en lösning – du får hela paketet. En kontakt, en leverantör, en faktura. Inga fler komplicerade kedjor av leverantörer eller en oändlig ström av fakturor att hantera.</p>
        }
        else
        {
            <h2 style="color:#333">Discover The Art Of Logistics With Us</h2>
            <p style="color:#333">The company positions itself as an independent and standalone logistics partner specializing in customizing the most optimal logistics solutions for its clients. Similar to a real estate agent finding the perfect office, a recruitment consultant searching for ideal staff, or an insurance broker arranging the best insurance, the company takes on the role of navigating the logistics industry to identify and collaborate with the most suitable partners for each unique assignment. By managing the communication between all involved parties, they keep the client continuously updated throughout the process, always with the goal of finding the right partner for each specific need.</p>

            <p style="color:#333"> With ARTS, logistics becomes simpler and more transparent than ever before. We believe in keeping it simple for our customers, which is why when you choose us, you get not just a solution – you get the whole package. One contact, one supplier, one invoice. No more complicated chains of suppliers or an endless stream of invoices to manage.</p>
        }
    </div>
    <div  style="margin-left: 15px;">
        <img src="~/images/0c288c05-8e80-4caa-b768-2bb0c2a26cee.webp" alt="Placeholder Image" />
    </div>
</div>

<div class="section" id="s-1" style="margin-top:200px;background-color:#2c3e50">
    <img src="~/images/_4090813b-c10b-4852-bc6a-a3140f8ce8a6.jpg" alt="Placeholder Image" />
    <div>
        @if (@Model.CurrentLanguage == "sv")
        {
            <h3 style="color:#333">Skräddarsydd Service Excellence</h3>
            <p style="color:#333">Välj ett samarbete där vi proaktivt tar itu med dina specifika utmaningar med självständighet och precision. Förlita dig på att dina leveranser kommer att få den personliga uppmärksamhet de förtjänar, eftersom våra experter konsekvent använder riskminimeringsstrategier och noggrant planerar för optimala leveranser.</p>
        }
        else
        {
            <h3 style="color:#333">Customized Service Excellence</h3>
            <p style="color:#333">Opt for a collaborative partnership where we proactively address your specific challenges with independence and precision. Trust that your shipments will receive the personalized attention they deserve, as our experts consistently employ risk mitigation strategies and meticulously plan for optimal deliveries.</p>
        }
    </div>
</div>


<div class="section" id="s-2" style="margin-top:50px;background-color:#2c3e50">
    <img src="/images/_67798c83-4988-4cb1-b8d6-2b319fe28a0a.jpg" alt="Placeholder Image" />
    <div>
        @if (@Model.CurrentLanguage == "sv")
        {
            <h3 style="color:#333">Global Räckvidd med en Lokal Touch</h3>
            <p style="color:#333">Lås upp kraften i vårt omfattande globala nätverk bestående av toppklassiga fraktpartners. Vi förstår dina unika behov, och våra dedikerade fraktspecialister kommer att optimera fraktrutter, hantera tullförhandsklarering och se till att du hålls informerad under hela processen.</p>
        }
        else
        {
            <h3 style="color:#333">Global Reach with a Local Touch</h3>
            <p style="color:#333">Unlock the power of our expansive global network comprising top-tier shipping partners. We comprehend your unique needs, and our dedicated shipping specialists will streamline shipment routes, handle customs pre-clearance, and ensure you stay informed throughout the entire process.</p>
        }
    </div>
</div>


<div class="section" id="s-3" style="margin-top:50px;background-color:#2c3e50">
    <img src="/images/23ce1b7c-88aa-4995-999e-d8e48615b428.webp" alt="Placeholder Image" />
    <div>
        @if (@Model.CurrentLanguage == "sv")
        {
            <h3 style="color:#333">Punktliga Leveranser Varje Gång</h3>
            <p style="color:#333">Vi utmärker oss i hanteringen av tidskritiska leveranser och uppfyller utmanande deadlines. Genom att dra nytta av vår omfattande erfarenhet och självständiga strategi källar vi konsekvent de snabbaste och mest pålitliga lösningarna, vilket säkerställer att vi alltid är ett steg före. Välj ARTS för en sömlös och pålitlig fraktupplevelse skräddarsydd efter ditt företags behov.</p>
        }
        else
        {
            <h3 style="color:#333">Punctual Deliveries Every Time</h3>
            <p style="color:#333">We excel in managing time-sensitive deliveries and meeting challenging deadlines. Leveraging our extensive experience and independent approach, we consistently source the fastest and most reliable solutions, ensuring we are always one step ahead. Choose ARTS for a seamless and reliable shipping experience tailored to your business requirements.</p>
        }
    </div>
</div>




<div class="section" id="nsab" style="background-color:#2c3e50;color:#fff">
    <div>
        @if (@Model.CurrentLanguage == "sv")
        {

            <h2 style="color:#333">Vi kör under NSAB 2015</h2>


            <p style="color:#333">
                Alla uppdrag utförs i enlighet med Nordiska Speditörsförbundets Allmänna Bestämmelser (NSAB 2015). Bestämmelserna begränsar speditörens ansvar som kontraktspart i avtalet enligt §3 B för förlust, försämring eller skada av/på gods till SDR 8,33 per kilo vid försening upp till fraktens belopp och för alla andra förluster till SDR 100 000 för varje uppdrag (§21). Speditörens ansvar som mellanhand enligt § 3 C är begränsad till SDR 50 000 för varje uppdrag och totalt för en och samma händelse till SDR 500 000 (§24).

                Vid lagring är speditörens samlade ansvar för skada vid ett och samma tillfälle begränsat till SDR 500 000 (§25)

                Särskild uppmärksamhet riktas mot nätverksklausulen (§2), krav mot speditören preskriberas efter ett år (§28) och att panträtten (§14) omfattar såväl aktuella som tidigare krav.
            </p>
        }
        else
        {
            <h2 style="color:#333">We operate under NSAB 2015</h2>

            <p style="color:#333">
                All assignments are carried out in accordance with the General Conditions of the Nordic Association of Freight Forwarders (NSAB 2015). The conditions limit the forwarder's liability as a contracting party in the agreement according to §3 B for loss, deterioration, or damage to/from goods to SDR 8.33 per kilogram in case of delay up to the amount of the freight and for all other losses to SDR 100,000 for each assignment (§21). The forwarder's liability as an intermediary according to §3 C is limited to SDR 50,000 for each assignment and a total of SDR 500,000 for the same event (§24).

                In the case of storage, the forwarder's overall liability for damage at one and the same occasion is limited to SDR 500,000 (§25).

                Special attention is drawn to the network clause (§2), claims against the forwarder are time-barred after one year (§28), and the right of lien (§14) covers both current and previous claims.
            </p>


        }
    </div>

</div>

<div>
    <button id="totop-arrow">
        <i class="fa-solid fa-arrow-up"></i>
    </button>


</div>



@section Scripts{

    <script>
        console.log('Script is running!');
        const arrow = document.querySelector('#totop-arrow');
        arrow.addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });


       



    </script>
}
