@page
@model MasterArtsWeb.Pages.ArtServicesModel
@{
}

<div class="text-center mille">
<h3 class="contact adjusted-anchor-2" id="contact-id">
   
    @if (@Model.CurrentLanguage == "sv")
    {
        <span>TJÄNSTER</span>
    }
    else
    {
        <span>SERVICES</span>
    }
</h3>
 </div>

<form method="post" asp-page-handler="ChangeLanguage" id="languageForm">
    <div id="language-switch" class="index-lang">
        <button type="submit" class="l-btn">SWE/ENG</button>
    </div>
</form>

<div class="master-qop">



    <div class="qop-2">
        <div class="qop-1">
           

                <div class="text-with-image-overlay">

                    <img src="/images/cc378cee-5500-49a3-82a1-bb438a14dfad.webp">

                    <div class="service-info">

                    @if (@Model.CurrentLanguage == "sv")
                    {
                        <ul>
                        <li><strong>Expertkonsultation:</strong> Kompetent rådgivning, grundlig riskbedömning och planering.</li>
                        <li><strong>Omfattande riskbedömning och planering:</strong> Djupgående analys av risker och noggrann strategisk förberedelse.</li>
                        <li><strong>Dokumentsamling:</strong> Sammanställning av nödvändiga papper och dokumentation.</li>
                        <li><strong>Skicklig packning och hantering:</strong> Kunnig och försiktig förpackning och hantering.</li>
                        <li><strong>Total översikt:</strong> Fullständig transparens och klarhet.</li>
                        <li><strong>Konsoliderad faktura:</strong> En kontakt, en leverantör, en faktura.</li>
                        <li><strong>Engagerat stöd:</strong> Engagerad hjälp och stöd.</li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li><strong>Expert Consultation:</strong> Competent advisory, thorough risk assessment, and planning.</li>
                            <li><strong>Comprehensive Risk Assessment and Planning:</strong> In-depth analysis of risks and meticulous strategic preparation.</li>
                            <li><strong>Document Gathering:</strong> Compilation of necessary paperwork and documentation.</li>
                            <li><strong>Skillful Packing and Handling:</strong> Proficient and careful packaging and handling.</li>
                            <li><strong>Total Visibility:</strong> Complete transparency and clarity.</li>
                            <li><strong>Consolidated Invoice:</strong> One contact, one supplier, one invoice.</li>
                            <li><strong>Devoted Support:</strong> Committed assistance and support.</li>
                        </ul>
                    }




                        
                    </div>
                </div>



        </div>

    </div>


</div>

<div class="master-qop">
    <div class="moby text-center">
    <div id="air" class="container-abbe">
        <div class="image-container">
            <img src="/images/d938d927-eebb-48a3-8596-18b84411f6d5.jpg" alt="Cool Image">
        </div>
        @if (@Model.CurrentLanguage == "sv")
        {

            <div class="header-s">Flyg</div>
            <div class="benefits">Snabb leverans, global täckning och hög flexibilitet</div>
            <div class="info-text">Vår flyglogistik är utformad för att möta de snabbt föränderliga kraven och globala leveranserna. Med snabba och säkra flygtransportlösningar kan vi optimera leveranstiderna och minska väntetiderna. Oavsett om du behöver skicka känsliga dokument eller mindre paket, erbjuder vi personlig eskort för att säkerställa säker leverans till världens alla hörn.</div>

            <a href="/Contact#contact-id" class="cta-button">KONTAKT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }
        else
        {
            <div class="header-s">Air</div>
            <div class="benefits">Fast delivery, global coverage, and high flexibility</div>
            <div class="info-text">Our air logistics are designed to meet rapidly changing demands and global deliveries. With fast and secure air transport solutions, we can optimize delivery times and reduce wait times. Whether you need to send sensitive documents or smaller packages, we offer personalized escort services to ensure safe delivery to every corner of the world.</div>

            <a href="/Contact#contact-id" class="cta-button">CONTACT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }




    </div>


    <div id="road" class="container-abbe">
        <div class="image-container">
            <img src="/images/bil2.webp" alt="Cool Image">
        </div>
        @if (@Model.CurrentLanguage == "sv")
        {

            <div class="header-s">Väg</div>
            <div class="benefits">Mångsidig och skalbar lösning för att möta dina transportbehov</div>
            <div class="info-text"> Vår väglogistiktjänst är skräddarsydd för att erbjuda flexibel och pålitlig transport på motorvägar, och det som gör oss unika är vårt unika tillvägagångssätt. Till skillnad från traditionella logistikleverantörer med sin egen fordonsflotta specialiserar vi oss på att koppla samman dig med ett nätverk av pålitliga externa transportörer.</div>
            <a href="/Contact#contact-id" class="cta-button" style="margin-top:19px">KONTAKT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }
        else
        {
            <div class="header-s">Road</div>
            <div class="benefits">Versatile and scalable solution</div>
            <div class="info-text">Our road logistics service is tailored to provide flexible and reliable transportation on highways, and what sets us apart is our unique approach. Unlike traditional logistics providers with their own fleet, we specialize in connecting you with a network of trusted external carriers.</div>
            <a href="/Contact#contact-id" class="cta-button" style="margin-top:19px">CONTACT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>

        }



    </div>


    <div id="sea" class="container-abbe">
        <div class="image-container">
            <img src="/images/båt1.webp" alt="Cool Image">
        </div>
        @if (@Model.CurrentLanguage == "sv")
        {

            <div class="header-s">Sjöfart</div>
            <div class="benefits">Storskaliga transporter och förmågan att hantera stora volymer.</div>
            <div class="info-text">Vår maritima logistik erbjuder pålitliga och effektiva lösningar för sjötransport. Med ett omfattande nätverk och erfarenhet av att hantera sjötransporter säkerställer vi smidig och kostnadseffektiv frakt av varor över hela världen.</div>
            <a href="/Contact#contact-id" class="cta-button">KONTAKT</a>

            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }
        else
        {
            <div class="header-s">Sea</div>
            <div class="benefits">Large-scale transports and the ability to handle large volumes</div>
            <div class="info-text">
                Our maritime logistics offers reliable and efficient solutions for sea transportation. With a comprehensive network and experience in handling maritime shipments, we ensure smooth and cost-effective freight of goods worldwide.
            </div>
            <a href="/Contact#contact-id" class="cta-button">CONTACT</a>

            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>

        }



    </div>

    <div id="train" class="container-abbe">
        <div class="image-container">
            <img src="/images/tåg1.webp" alt="Cool Image">
        </div>
        @if (@Model.CurrentLanguage == "sv")
        {

            <div class="header-s">Tåg</div>
            <div class="benefits">Miljövänlig, Kostnadseffektiv, Stabil och Säker</div>
            <div class="info-text"> Tåglogistik är en pålitlig och kostnadseffektiv lösning för landtransport över långa sträckor. Med vårt specialiserade tågnätverk kan vi erbjuda hållbara och miljövänliga transporter.</div>
            <a href="/Contact#contact-id" class="cta-button" style="margin-top:19px">KONTAKT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }
        else
        {
            <div class="header-s">Train</div>
            <div class="benefits">Environmentally friendly, Cost-effective, Stable and Safe</div>
            <div class="info-text">
                Train logistics is a reliable and cost-effective solution for land transport over long distances. With our specialized train network, we can offer sustainable and environmentally friendly transportation.
            </div>
            <a href="/Contact#contact-id" class="cta-button" style="margin-top:19px">CONTACT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }



    </div>



    <div id="courier" class="container-abbe">
        <div class="image-container">
            <img src="/images/e9ce4a77-32d2-4137-808d-637c588d84ad.jpg" alt="Cool Image">
        </div>
        @if (@Model.CurrentLanguage == "sv")
        {

            <div class="header-s">Kurir</div>
            <div class="benefits">Snabba leveranser, realtids spårning och dörr-till-dörr-service</div>
            <div class="info-text">Vår kurirlogistik erbjuder snabba och pålitliga leveranser med fokus på små paket och dokument. Med ett effektivt nätverk av kurirer kan vi säkerställa snabb och säker leverans, perfekt för brådskande sändningar.</div>


            <a href="/Contact#contact-id" class="cta-button" style="margin-top:18px">KONTAKT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }
        else
        {
            <div class="header-s">Courier</div>
            <div class="benefits">Fast deliveries, real-time tracking, and door-to-door service.</div>
            <div class="info-text">
                Our courier logistics offers fast and reliable deliveries focusing on small packages and documents. With an efficient network of couriers, we can ensure quick and secure delivery, perfect for urgent shipments.
            </div>
            <a href="/Contact#contact-id" class="cta-button" style="margin-top:18px">CONTACT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>

        }



    </div>



    <div id="express" class="container-abbe">
        <div class="image-container">
            <img src="/images/3985a008-f5fb-4833-9b9c-b32f8df6adc2.jpg" alt="Cool Image">
        </div>
        @if (@Model.CurrentLanguage == "sv")
        {

            <div class="header-s">Express</div>
            <div class="benefits">Omedelbar respons, prioriterad behandling och den högsta möjliga leveranshastigheten.</div>
            <div class="info-text">Vår expresslogistik är utformad för att möta kraven för snabba och tidskänsliga leveranser. Med dedikerade resurser och prioriterad behandling kan vi säkerställa att dina varor når destinationen i tid.</div>
            <a href="/Contact#contact-id" class="cta-button">KONTAKT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
        }
        else
        {
            <div class="header-s">Express</div>
            <div class="benefits">Immediate response, priority treatment, and the highest possible delivery speed.</div>
            <div class="info-text">
                Our express logistics is designed to meet the demands for fast and time-sensitive deliveries. With dedicated resources and priority handling, we can ensure your goods reach the destination on time.
            </div>
            <a href="/Contact#contact-id" class="cta-button">CONTACT</a>
            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>

        }



    </div>




<div class="container-abbe" id="special" style="margin-top:150px">
    <div>
        @if (@Model.CurrentLanguage == "sv")
        {
            <div class="header-s">On-board courier</div>

            <div class="benefits">Snabb, säker och personlig eskort av mindre paket eller dokument av känslig eller brådskande natur, med garanterad leverans via flyg till världens alla hörn</div>
            <div class="header-s">Övervakning</div>
            <div class="benefits">Personlig övervakning av farligt eller värdefullt gods för att förhindra skadegörelse, sabotage, inbrott och stöld, både under parkering och transport</div>
        }
        else
        {
            <div class="header-s">On-board courier</div>
            <div class="benefits">Fast, secure, and personalized escort of small packages or sensitive and urgent documents, with guaranteed delivery via air to all corners of the world</div>
            <div class="header-s">Monitoring</div>
            <div class="benefits">Personal monitoring of dangerous or valuable goods to prevent vandalism, sabotage, burglary, and theft, both during parking and transportation</div>

        }
        <a href="/Contact#contact-id" class="cta-button">CONTACT</a>
        <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
    </div>
    <div class="image-container-3" style="margin-left: 15px;">
        <img src="~/images/63e7af8b-44b2-4d6c-9301-be1ebb6ed9bf.webp" alt="About Us Image" style="max-width: 100%; height: auto;">
    </div>



</div>
<div class="container-abbe" id="special-2" style="margin-top:150px">
    <div>
        @if (@Model.CurrentLanguage == "sv")
        {
            <div class="header-s">Projektlogistik</div>

                <div class="benefits">Vi förstår komplexiteten i att hantera storskaliga logistikprojekt och levererar skräddarsydda lösningar som tar din verksamhet till nästa nivå. .Med en omfattande expertis och ett globalt nätverk av partners, garanterar ARTS att ditt projekt flyter smidigt från start till mål. Vi erbjuder en helhetslösning som omfattar allt från initial planering och ruttval till genomförande och uppföljning. Vårt mål är inte bara att transportera dina varor från punkt A till B, utan att göra det på det mest kostnadseffektiva, säkra och miljövänliga sättet.</div>
           
        }
        else
        {
                <div class="header-s">Project-Logistics</div>
                <div class="benefits"> We understand the complexity of managing large-scale logistics projects and deliver tailored solutions that elevate your business to the next level. With extensive expertise and a global network of partners, ARTS ensures that your project runs smoothly from start to finish. We offer a comprehensive solution that covers everything from initial planning and route selection to implementation and follow-up. Our goal is not just to transport your goods from point A to B, but to do so in the most cost-effective, safe, and environmentally friendly manner.</div>
          

        }
        <a href="/Contact#contact-id" class="cta-button" style="margin-top:20px">CONTACT</a>
        <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">ORDER</a>
    </div>
    <div class="image-container-3" style="margin-left: 15px;">
        <img src="~/images/23fe0df2-369f-4a07-ba62-fed71886cd6e.webp" alt="About Us Image" style="max-width: 100%; height: auto;">
    </div>
</div>
    </div>



<div>
    <button id="totop-arrow">
        <i class="fa-solid fa-arrow-up"></i>
    </button>


</div>


@section Scripts{

    <script>
        console.log('Script is running!');
        const arrow = document.querySelector('#totop-arrow');
        arrow.addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>
}




























<!-- Button to show/hide the ratings -->
<!-- Form to submit a new review -->
@*@*<div class="reviews-section">


        <!-- Form to submit a new review -->
        <div class="row">
            <div class="col-md-6">
                <form method="post" asp-page-handler="AddReview">
                    <h3>Rate Arts Logistics:</h3>
                    <div class="star-rating">
                        @for (int i = 5; i >= 1; i--)
                        {
                            <input type="radio" id="@($"star{i}")" name="NewReview.Rating" value="@i" />
                            <label for="@($"star{i}")" title="@i stars">&#9733;</label>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Rating</button>
                </form>
            </div>*@
@* <div class="col-md-6">
                <!-- Button to show/hide the ratings -->


              @*  <div id="ratingsContainer" style="display:none; margin-top: 20px;">
                    @foreach (var review in Model.Reviews)
                    {
                        <div class="card" style="width: 18rem; background-color: rgba(0, 0, 0, 0.7); margin-top: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">Rating: @review.Rating</h5>

                                <!-- You can display other information about the review, e.g., user name, etc. -->
                            </div>
                        </div>
                    }
                </div>*@
            </div>
        </div>
    </div>
@*@section Scripts
{
<script>
        function toggleRatings() {
            var ratingsContainer = document.getElementById('ratingsContainer');
            ratingsContainer.style.display = ratingsContainer.style.display === 'none' ? 'block' : 'none';
        }
</script>
}*@