@page
@model MasterArtsWeb.Pages.CalculateRatesModel
@{
}

<h3 class="contact adjusted-anchor-2" id="contact-id" style="margin-top:100px">
    Calculate Rates
</h3>
<div style="margin-top:100px;">
    <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">Back</a>
</div>
<div class="language-toggle text-end">
    <button id="languageToggleBtn" class="l-btn" onclick="toggleLanguage()">Svenska</button>
</div>
<div class="text-center shipping-cost-calculator">
    <h3 id="resultSection"></h3>

    @if (Model.ApiResponse != null)
    {
        <h3 class="totals-title">Totals</h3>
        <ul class="totals-list">
            @foreach (var total in Model.ApiResponse.Totals)
            {
                <li class="total-item">@total.Currency: @total.Sum (Kurs: @total.ExchangeRate)</li>
            }
        </ul>

    }
</div>


<form method="post" id="contactForm" style="margin-top:50px">
    <div class="form-container-2">
    <div>
        <label asp-for="@Model.ShippingRequest.Module">Transport Module</label>
        <select asp-for="@Model.ShippingRequest.Module">
            <option value="ocean">Ocean</option>
            <option value="rail">Rail</option>
            <!-- Lägg till fler transportmoduler här -->
        </select>
    </div>
    <div>

            <div>
                <label asp-for="ShippingRequest.Imo">IMO</label>
                <select asp-for="ShippingRequest.Imo">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                
            </div>

        <div>
            <label asp-for="@Model.ShippingRequest.InlandZipCode">Inland Zip Code</label>
            <input asp-for="@Model.ShippingRequest.InlandZipCode" />
        </div>
        <div>
                <label asp-for="@Model.ShippingRequest.Weight">Weight</label>
            <input asp-for="@Model.ShippingRequest.Weight" type="number" />
        </div>
            <div>
                <label asp-for="@Model.ShippingRequest.Volume">Volume (m³)</label>
                <input asp-for="@Model.ShippingRequest.Volume" type="number" step="0.01" />
            </div>


        <div>
            <label asp-for="@Model.ShippingRequest.Date">Date</label>
            <input asp-for="@Model.ShippingRequest.Date" type="date" />
        </div>
        <label asp-for="@Model.ShippingRequest.ImportExport">Import/Export</label>
        <select asp-for="@Model.ShippingRequest.ImportExport">
            <option value="import">Import</option>
            <option value="export">Export</option>
        </select>
    </div>
        
            
            <!-- Displaying "LCL" as a text to the user, assuming "LCL" is the only option needed. -->
            
            <!-- Hidden input to ensure "LCL" is submitted as the value -->
            <input type="hidden" asp-for="@Model.ShippingRequest.Type" value="lcl" />


        <div>
            <label for="fromCode">From Code</label>
            <input type="text" id="fromCode" name="ShippingRequest.FromCode" placeholder="Ex: NO OSL" aria-describedby="fromCodeHelp">
            <span id="fromCodeHelp" class="form-text">Enter the UN/LOCODE for the origin location, e.g., "NOOSL" for Oslo.</span>
            <span class="text-danger"></span>
        </div>
        <div>
            <label for="toCode">To Code</label>
            <input type="text" id="toCode" name="ShippingRequest.ToCode" placeholder="Ex: SE STO" aria-describedby="toCodeHelp">
            <span id="toCodeHelp" class="form-text">Enter the UN/LOCODE for the destination location, e.g., "SESTO" for Stockholm.</span>
        </div>

        
    <!-- Fyll i fler fält enligt ovanstående mönster -->
    <div>
            <label asp-for="@Model.ShippingRequest.Packages">Number Of Packages"</label>
        <input type="number" asp-for="@Model.ShippingRequest.Packages" />
    </div>
    <div>
        <div>
            <label asp-for="@Model.ShippingRequest.PackageType">Package Type</label>
            <select asp-for="@Model.ShippingRequest.PackageType">
                    <option value="PALLET(S)">PALLET(S)</option>
                    <option value="CARTON(S)">CARTON(S)</option>
                    <option value="CRATE(S)">CRATE(S)</option>
                    <option value="DRUM(S)">DRUM(S)</option>
                    <option value="BUNDLE(S)">BUNDLE</option>
                    <option value="PIECE(S)">PIECE</option>
                    <option value="CONTAINER(S)">CONTAINER</option>
                    <option value="ROLL(S)">ROLL(S)</option>
                    <option value="BAG(S)">BAG(S)</option>
            </select>
        </div>

    </div>
    </div>

        <div class="form-container-2">
    <h4>Dimensioner</h4>

        <div id="dimensionsContainerEn">
        <div>
            <label asp-for="ShippingRequest.Dimensions[0].Pcs">Antal stycken</label>
            <input asp-for="ShippingRequest.Dimensions[0].Pcs" type="number" />
        </div>
        <div>
            <label asp-for="ShippingRequest.Dimensions[0].Length">Längd</label>
            <input asp-for="ShippingRequest.Dimensions[0].Length" type="number" />
        </div>
        <div>
            <label asp-for="ShippingRequest.Dimensions[0].Width">Bredd</label>
            <input asp-for="ShippingRequest.Dimensions[0].Width" type="number" />
        </div>
        <div>
            <label asp-for="ShippingRequest.Dimensions[0].Height">Höjd</label>
            <input asp-for="ShippingRequest.Dimensions[0].Height" type="number" />
        </div>
        <div>
            <label asp-for="ShippingRequest.Dimensions[0].Weight">Vikt</label>
            <input asp-for="ShippingRequest.Dimensions[0].Weight" type="number" />
        </div>
        <div>
            <label asp-for="ShippingRequest.Dimensions[0].Stackable">Stackbar</label>
            <select asp-for="ShippingRequest.Dimensions[0].Stackable">
                <option value="true">Ja</option>
                <option value="false">Nej</option>
            </select>
        </div>
    </div>

        <button type="button" onclick="addDimension()">Lägg till Dimension</button>

    <br>
    
    </div>
    <div id="loadingSpinner" style="display: none;">
        <div class="spinner"></div>
    </div>
    <button id="loginButton" onclick="startLoginProcess()" type="submit" class="btn-large">Beräkna fraktkostnader</button>
</form>


<form method="post" id="contactFormSv" style="margin-top:50px;display:none">
    <div class="form-container-2">
        <div>
            <label asp-for="@Model.ShippingRequest.Module">Transportmodul</label>
            <select asp-for="@Model.ShippingRequest.Module">
                <option value="ocean">Ocean</option>
                <option value="rail">Rail</option>
                <!-- Lägg till fler transportmoduler här -->
            </select>
        </div>
        <div>

            <div>
                <label asp-for="ShippingRequest.Imo">IMO</label>
                <select asp-for="ShippingRequest.Imo">
                    <option value="true">Ja</option>
                    <option value="false">Nej</option>
                </select>

            </div>

            <div>
                <label asp-for="@Model.ShippingRequest.InlandZipCode">Inland Zip Code</label>
                <input asp-for="@Model.ShippingRequest.InlandZipCode" />
            </div>
            <div>
                <label asp-for="@Model.ShippingRequest.Weight">Vikt</label>
                <input asp-for="@Model.ShippingRequest.Weight" type="number" />
            </div>
            <div>
                <label asp-for="@Model.ShippingRequest.Volume">Volym (m³)</label>
                <input asp-for="@Model.ShippingRequest.Volume" type="number" step="0.01" />
            </div>


            <div>
                <label asp-for="@Model.ShippingRequest.Date">Datum (YYYY-MM-DD)</label>
                <input asp-for="@Model.ShippingRequest.Date" type="date" />
            </div>
            <label asp-for="@Model.ShippingRequest.ImportExport">Import/Export</label>
            <select asp-for="@Model.ShippingRequest.ImportExport">
                <option value="import">Import</option>
                <option value="export">Export</option>
            </select>
        </div>
        <div>
            
            <!-- Displaying "LCL" as a text to the user, assuming "LCL" is the only option needed. -->
            
            <!-- Hidden input to ensure "LCL" is submitted as the value -->
            <input type="hidden" asp-for="@Model.ShippingRequest.Type" value="lcl" />
        </div>

        <div>
            <label for="fromCode">Från kod</label>
            <input type="text" id="fromCode" name="ShippingRequest.FromCode" placeholder="Ex: NO OSL" aria-describedby="fromCodeHelp">
            <span id="fromCodeHelp" class="form-text">Ange UN/LOCODE för avsändningsplatsen, t.ex. "NOOSL" för Oslo.</span>
            <span class="text-danger"></span>
        </div>
        <div>
            <label for="toCode">Till kod</label>
            <input type="text" id="toCode" name="ShippingRequest.ToCode" placeholder="Ex: SE STO" aria-describedby="toCodeHelp">
            <span id="toCodeHelp" class="form-text">Ange UN/LOCODE för destinationsplatsen, t.ex. "SESTO" för Stockholm.</span>
        </div>


        <!-- Fyll i fler fält enligt ovanstående mönster -->
        <div>
            <label asp-for="@Model.ShippingRequest.Packages">Antal paket</label>
            <input type="number" asp-for="@Model.ShippingRequest.Packages" />
        </div>
        <div>
            <div>
                <label asp-for="@Model.ShippingRequest.PackageType">Pakettyp</label>
                <select asp-for="@Model.ShippingRequest.PackageType">
                    <option value="PALLET(S)">Pall(ar)</option>
                    <option value="CARTON(S)">Kartong(er)</option>
                    <option value="CRATE(S)">Trälådor</option>
                    <option value="DRUM(S)">Fat</option>
                    <option value="BUNDLE(S)">Buntar</option>
                    <option value="PIECE(S)">Styckegods</option>
                    <option value="CONTAINER(S)">Fraktcontainrar</option>
                    <option value="ROLL(S)">Rullar</option>
                    <option value="BAG(S)">Säckar</option>
                </select>
            </div>

        </div>
    </div>

    <div class="form-container-2">
        <h4>Dimensioner</h4>

        <div id="dimensionsContainerSv">
            <div>
                <label asp-for="ShippingRequest.Dimensions[0].Pcs">Antal stycken</label>
                <input asp-for="ShippingRequest.Dimensions[0].Pcs" type="number" />
            </div>
            <div>
                <label asp-for="ShippingRequest.Dimensions[0].Length">Längd</label>
                <input asp-for="ShippingRequest.Dimensions[0].Length" type="number" />
            </div>
            <div>
                <label asp-for="ShippingRequest.Dimensions[0].Width">Bredd</label>
                <input asp-for="ShippingRequest.Dimensions[0].Width" type="number" />
            </div>
            <div>
                <label asp-for="ShippingRequest.Dimensions[0].Height">Höjd</label>
                <input asp-for="ShippingRequest.Dimensions[0].Height" type="number" />
            </div>
            <div>
                <label asp-for="ShippingRequest.Dimensions[0].Weight">Vikt</label>
                <input asp-for="ShippingRequest.Dimensions[0].Weight" type="number" />
            </div>
            <div>
                <label asp-for="ShippingRequest.Dimensions[0].Stackable">Stackbar</label>
                <select asp-for="ShippingRequest.Dimensions[0].Stackable">
                    <option value="true">Ja</option>
                    <option value="false">Nej</option>
                </select>
            </div>
        </div>


        <button type="button" onclick="addDimension()">Lägg till Dimension</button>

        <br>

    </div>
    <div id="loadingSpinner2" style="display: none;">
        <div class="spinner"></div>
    </div>
    <button id="loginButton" onclick="startLoginProcess()" type="submit" class="btn-large">Beräkna fraktkostnader</button>
</form>





@section Scripts {
    <script>
        function startLoginProcess() {
            document.getElementById('loadingSpinner').style.display = 'block';
            document.getElementById('loadingSpinner2').style.display = 'block';
            // Antag att `login` är funktionen som hanterar inloggningsprocessen.
            login().then(() => {
                document.getElementById('loadingSpinner').style.display = 'none';
            });
        }

        window.onload = function () {
            var resultSection = document.getElementById('resultSection');
            if (resultSection) {
                resultSection.scrollIntoView({ behavior: 'smooth' });
            }
        };

        function toggleLanguage() {
            var toggleBtn = document.getElementById('languageToggleBtn');
            var contactForm = document.getElementById('contactForm');
            var contactFormSv = document.getElementById('contactFormSv');

            if (toggleBtn.innerText === 'Svenska') {
                toggleBtn.innerText = 'English';
                contactForm.style.display = 'none';
                contactFormSv.style.display = 'block';
            } else {
                toggleBtn.innerText = 'Svenska';
                contactForm.style.display = 'block';
                contactFormSv.style.display = 'none';
            }
        }
        var dimensionIndex = 0;
        function addOption() {
            var container = document.getElementById('optionsContainer');
            var optionHTML = `
                <div id="option-${optionIndex}">
                    <select name="ShippingRequest.Options[${optionIndex}].Key">
                        <option value="vgm">VGM</option>
                        <option value="incoterms">Incoterms</option>
                        <!-- Lägg till fler fördefinierade nycklar här -->
                    </select>
                    <select name="ShippingRequest.Options[${optionIndex}].Value">
                        <option value="true">True</option>
                        <option value="false">False</option>
                        <!-- Specifika värden för Incoterms, exempelvis -->
                        <option value="dap">DAP</option>
                        <option value="exw">EXW</option>
                        <option value="fob">FOB</option>
                    </select>
                    <button type="button" onclick="removeOption(${optionIndex})">Ta bort</button>
                </div>
            `;
            container.insertAdjacentHTML('beforeend', optionHTML);
            optionIndex++;
        }




      function addDimension() {
    var language = document.getElementById('languageToggleBtn').innerText;
    // Eftersom standardtexten är "English", innebär det att sidan initialt visas på svenska.
    // Så om knappen visar "Svenska", betyder det att användaren har växlat till engelska.
    var containerId = language === 'Svenska' ? 'dimensionsContainerEn' : 'dimensionsContainerSv';
    var container = document.getElementById(containerId);

    var dimensionHTML = `
        <div id="dimension-${dimensionIndex}">
            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Pcs" placeholder="Antal stycken" />
            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Length" placeholder="Längd" />
            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Width" placeholder="Bredd" />
            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Height" placeholder="Höjd" />
            <input type="number" name="ShippingRequest.Dimensions[${dimensionIndex}].Weight" placeholder="Vikt" />
            <select name="ShippingRequest.Dimensions[${dimensionIndex}].Stackable">
                <option value="true">Ja</option>
                <option value="false">Nej</option>
            </select>
            <button type="button" onclick="removeDimension(${dimensionIndex})">Ta bort</button>
        </div>
    `;

    container.insertAdjacentHTML('beforeend', dimensionHTML);
    dimensionIndex++;
}



        function removeDimension(index) {
            var elementToRemove = document.getElementById(`dimension-${index}`);
            if (elementToRemove) {
                elementToRemove.remove();
            }
        }
    </script>
}