@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}



<form method="post" id="languageForm">
    <div id="language-switch">
        <button type="submit" class="l-btn">SWE/ENG</button>
    </div>
</form>



    <div class="kajsa">


        <div class="card">
            <a href="/ArtServices#air" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">
                    <i class="fa-sharp fa-thin fa-plane card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                FLYG
                            </span>
                        }
                        else
                        {
                            <span>
                                AIR
                            </span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Hjälper er med flyg leverans<br>


                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with air freight delivery<br>

                            </span>
                        }
                    </p>
                </div>
            </a>
        </div>


        <div class="card">
            <a href="/ArtServices#road" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">

                    <i class="fa-sharp fa-thin fa-truck-front card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {
                            <span>VÄG</span>
                        }
                        else
                        {
                            <span>ROAD</span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {
                            <span>
                                Hjälper er med lastbilsservice <br>

                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with truckservice <br>

                            </span>
                        }
                    </p>

                </div>
            </a>
        </div>

    <div class="card">
        <a href="/ArtServices#train" class="card-link" stlye=" text-decoration: none;">
            <div class="card-body text-center">
                <i class="fa-sharp fa-thin fa-train card-icon"></i>
                <h5 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            TÅG
                        </span>
                    }
                    else
                    {
                        <span>
                            TRAIN
                        </span>
                    }
                </h5>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            Hjälper er med järnvägstransport<br>


                        </span>
                    }
                    else
                    {
                        <span>
                            Assisting you with railway shipment<br>

                        </span>
                    }
                </p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/ArtServices#sea" class="card-link" stlye=" text-decoration: none;">
            <div class="card-body text-center">
                <i class="fa-sharp fa-thin fa-ship card-icon"></i>
                <h5 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            SJÖFART
                        </span>
                    }
                    else
                    {
                        <span>
                            SEA
                        </span>
                    }
                </h5>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            Hjälper er med full container sändning

                        </span>
                    }
                    else
                    {
                        <span>
                            Assisting you with full container shipment
                        </span>
                    }
                </p>
            </div>
        </a>
    </div>

    

</div>
    <div class="kajsa">

        <div class="card">
            <a href="/ArtServices#sea" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">
                <i class="fa-solid fa-clipboard-list card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                            Projektlogistik
                            </span>
                        }
                        else
                        {
                            <span>
                               Project-logistics
                            </span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Hjälper er projektlogistik

                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with project logistics
                            </span>
                        }
                    </p>
                </div>
            </a>
        </div>
       

        <div class="card">
            <a href="/ArtServices#courier" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">
                    <i class="fa-thin fa-person-carry-box card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                KURIR
                            </span>
                        }
                        else
                        {
                            <span>
                                COURIER
                            </span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Hjälper er med kurir leverans <br>


                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with courier delivery<br>

                            </span>
                        }
                    </p>
                </div>
            </a>
        </div>


        <div class="card">
            <a href="/ArtServices#express" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">
                    <i class="fa-sharp fa-thin fa-truck-clock card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                EXPRESS
                            </span>
                        }
                        else
                        {
                            <span>
                                EXPRESS
                            </span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Hjälper er med expressleverans<br>


                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with express delivery<br>

                            </span>
                        }
                    </p>
                </div>
            </a>

        </div>


        <div class="card">
            <a href="/ArtServices#special" class="card-link" style="text-decoration: none; display: flex; flex-direction: column; align-items: center;">
                <i class="fa-thin fa-wand-magic-sparkles card-icon" style="margin-top:12px"></i>
                <h4 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {
                        <span>Anpassade tjänster</span>
                    }
                    else
                    {
                        <span>Customized services</span>
                    }
                </h4>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {
                        <span>För viktigare leveranser</span>
                    }
                    else
                    {
                        <span>For more critical deliveries</span>
                    }
                </p>
            </a>
        </div>


    </div>




	


















<div class="kajsa-2">

    <div class="card">
        <a href="/ArtServices#air" class="card-link" stlye=" text-decoration: none;">
            <div class="card-body text-center">
                <i class="fa-sharp fa-thin fa-plane card-icon"></i>
                <h5 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            FLYG
                        </span>
                    }
                    else
                    {
                        <span>
                            AIR
                        </span>
                    }
                </h5>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            Hjälper er med flyg leverans<br>


                        </span>
                    }
                    else
                    {
                        <span>
                            Assisting you with air freight delivery<br>

                        </span>
                    }
                </p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/ArtServices#road" class="card-link" stlye=" text-decoration: none;">
            <div class="card-body text-center">

                <i class="fa-sharp fa-thin fa-truck-front card-icon"></i>
                <h5 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {
                        <span>VÄG</span>
                    }
                    else
                    {
                        <span>ROAD</span>
                    }
                </h5>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {
                        <span>
                            Hjälper er med lastbilsservice <br>

                        </span>
                    }
                    else
                    {
                        <span>
                            Assisting you with truckservice <br>

                        </span>
                    }
                </p>

            </div>
        </a>
    </div>
</div>
    <div class="kajsa-2">

        <div class="card">
            <a href="/ArtServices#train" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">
                    <i class="fa-sharp fa-thin fa-train card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                TÅG
                            </span>
                        }
                        else
                        {
                            <span>
                                TRAIN
                            </span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Hjälper er med järnvägstransport<br>


                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with railway shipment<br>

                            </span>
                        }
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="/ArtServices#sea" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">
                    <i class="fa-sharp fa-thin fa-ship card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                SJÖFART
                            </span>
                        }
                        else
                        {
                            <span>
                                SEA
                            </span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Hjälper er med full container sändning

                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with full container shipment
                            </span>
                        }
                    </p>
                </div>
            </a>
        </div>
    </div>

  
    



    <div class="kajsa-mobil">

<div class="kajsa-2">


    



    <div class="card">
        <a href="/ArtServices#courier" class="card-link" stlye=" text-decoration: none;">
            <div class="card-body text-center">
                <i class="fa-thin fa-person-carry-box card-icon"></i>
                <h5 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            KURIR
                        </span>
                    }
                    else
                    {
                        <span>
                            COURIER
                        </span>
                    }
                </h5>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            Hjälper er med kurir leverans <br>


                        </span>
                    }
                    else
                    {
                        <span>
                            Assisting you with courier delivery<br>

                        </span>
                    }
                </p>
            </div>
        </a>
    </div>


    <div class="card">
        <a href="/ArtServices#express" class="card-link" stlye=" text-decoration: none;">
            <div class="card-body text-center">
                <i class="fa-sharp fa-thin fa-truck-clock card-icon"></i>
                <h5 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            EXPRESS
                        </span>
                    }
                    else
                    {
                        <span>
                            EXPRESS
                        </span>
                    }
                </h5>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {

                        <span>
                            Hjälper er med expressleverans<br>


                        </span>
                    }
                    else
                    {
                        <span>
                            Assisting you with express delivery<br>

                        </span>
                    }
                </p>
            </div>
        </a>
    </div>


    </div>
    <div class="kajsa-2">
        <div class="card">
            <a href="/ArtServices#sea" class="card-link" stlye=" text-decoration: none;">
                <div class="card-body text-center">
                    <i class="fa-solid fa-clipboard-list card-icon"></i>
                    <h5 class="card-title">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Projektlogistik
                            </span>
                        }
                        else
                        {
                            <span>
                                Project-logistics
                            </span>
                        }
                    </h5>
                    <p class="card-text">
                        @if (@Model.CurrentLanguage == "sv")
                        {

                            <span>
                                Hjälper er projektlogistik

                            </span>
                        }
                        else
                        {
                            <span>
                                Assisting you with project logistics
                            </span>
                        }
                    </p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/ArtServices#special" class="card-link" style="text-decoration: none; display: flex; flex-direction: column; align-items: center;">
                <i class="fa-thin fa-wand-magic-sparkles card-icon" style="margin-top:40px"></i>
                <h4 class="card-title">
                    @if (@Model.CurrentLanguage == "sv")
                    {
                        <span>Anpassade tjänster</span>
                    }
                    else
                    {
                        <span>Customized services</span>
                    }
                </h4>
                <p class="card-text">
                    @if (@Model.CurrentLanguage == "sv")
                    {
                        <span>För viktigare leveranser</span>
                    }
                    else
                    {
                        <span>For more critical deliveries</span>
                    }
                </p>
            </a>
        </div>
    </div>

</div>

<div class="center-container">
<div class="asdf">
        <div class="qop-4">
            <div class="qop-3">


               

            </div>
        </div>
        <div class="text-center ert">
            @if (@Model.CurrentLanguage == "sv")
            {
                <h2>För oss är logistik en konst</h2>

                <p>Vi är specialister som hjälper företag att effektivisera sin leveranskedja genom rådgivning, transporter och tredjepartslogistik. Som en extern projekt- och logistikpartner med helhetslösningar ser vi till att dokument, handlingar och gods finns på rätt plats vid utsatt tid, allt i nära samarbete med noggrant utvalda partners. Hos oss får du branschens bästa pris och personlig service utöver det vanliga. Trenden att företag outsourcar logistikfunktionen och fokuserar på sin kärnverksamhet växer allt starkare. Utmana oss. Vi behärskar konsten att leverera!</p>
            }
            else
            {
                <h2>For us, logistics is an art</h2>
                <span>We are specialists who assist companies in streamlining their supply chain through consultancy, transportation, and third-party logistics. As an external project and logistics partner with comprehensive solutions, we ensure that documents, records, and goods are in the right place at the specified time, all in close collaboration with carefully selected partners. With us, you get the industry's best price and personalized service beyond the ordinary. The trend of companies outsourcing the logistics function and focusing on their core operations is growing stronger. Challenge us. We master the art of delivery!</span>
            }
        </div>
        </div>
    </div>
        <div class="center-container">
            <div class="service-info">
                <div class="mysan text-center">


                    <div style="margin-bottom: 20px;">
                        <i class="fa-sharp fa-thin fa-people-carry-box card-icon"></i>
                        <h3>
                            @if (@Model.CurrentLanguage == "sv")
                            {

                                <span>Extern Transportörsnätverk</span>
                            }
                            else
                            {
                                <span>External Carrier Network</span>
                            }
                        </h3>
                        <p>
                            @if (@Model.CurrentLanguage == "sv")
                            {

                                <span>Vi utnyttjar ett omfattande nätverk av pålitliga externa transportörer, noggrant utvalda för deras pålitlighet och överensstämmelse med kvalitetstjänststandarder.</span>
                            }
                            else
                            {
                                <span>We leverage a vast network of reputable external carriers, carefully selected for their reliability and adherence to quality service standards.</span>
                            }
                        </p>

                    </div>

                    <div style="margin-bottom: 20px;">
                        <i class="fa-solid fa-skull-cow card-icon"></i>
                        <h3>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Flexibilitet och Skalbarhet</span>
                            }
                            else
                            {
                                <span>Flexibility and Scalability</span>
                            }
                        </h3>
                        <p>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Med vår modell får du fördelen av flexibilitet. Oavsett om du behöver transportera små eller stora volymer kan vårt nätverk av externa transportörer anpassa sig till dina behov och säkerställa en skalbar lösning.</span>
                            }
                            else
                            {
                                <span>With our model, you gain the advantage of flexibility. Whether you need to transport small or large volumes, our network of external carriers can adapt to your requirements, ensuring a scalable solution.</span>
                            }
                        </p>

                    </div>

                    <div style="margin-bottom: 20px;">
                        <i class="fa-light fa-money-check-dollar card-icon"></i>
                        <h3>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Kostnadseffektiva Lösningar</span>
                            }
                            else
                            {
                                <span>Cost-Effective Solutions</span>
                            }
                        </h3>
                        <p>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Genom att använda externa transportörer kan vi optimera kostnaderna och erbjuda konkurrenskraftiga priser för våra väglogistiktjänster. Detta kostnadseffektiva tillvägagångssätt möjliggör effektiv resursallokering.</span>
                            }
                            else
                            {
                                <span>By utilizing external carriers, we can optimize costs and provide competitive pricing for our road logistics services. This cost-effective approach allows you to allocate resources efficiently.</span>
                            }
                        </p>
                    </div>

                    <div style="margin-bottom: 20px;">
                        <i class="fa-sharp fa-thin fa-person-carry-box card-icon"></i>
                        <h3>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Pålitliga och Tidiga Leveranser</span>
                            }
                            else
                            {
                                <span>Reliable and Timely Deliveries</span>
                            }
                        </h3>
                        <p>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Vår åtagande till pålitlighet innebär att du kan lita på oss för att leverera dina varor i tid. Vi samarbetar nära med vårt nätverk av transportörer för att säkerställa punktlighet och konsekvens i att uppfylla leveransdeadlines.</span>
                            }
                            else
                            {
                                <span>Our commitment to reliability means you can trust us to deliver your goods on time. We work closely with our network of carriers to ensure punctuality and consistency in meeting delivery deadlines.</span>
                            }
                        </p>
                    </div>

                    <div style="margin-bottom: 20px;">
                        <i class="fa-sharp fa-thin fa-vacuum-robot card-icon"></i>
                        <h3>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Avancerad Spårning och Kommunikation</span>
                            }
                            else
                            {
                                <span>Advanced Tracking and Communication</span>
                            }
                        </h3>
                        <p>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Vi använder avancerade spårningssystem och kommunikationsverktyg för att hålla dig informerad om statusen för dina försändelser i realtid. Denna transparens förbättrar synligheten och möjliggör bättre beslutsfattande.</span>
                            }
                            else
                            {
                                <span>We utilize advanced tracking systems and communication tools to keep you informed about the status of your shipments in real-time. This transparency enhances visibility and allows for better decision-making.</span>
                            }
                        </p>
                    </div>

                    <div style="margin-bottom: 20px;">
                        <i class="fa-sharp fa-thin fa-face-saluting card-icon"></i>
                        <h3>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Skräddarsydda Lösningar</span>
                            }
                            else
                            {
                                <span>Customized Solutions</span>
                            }
                        </h3>
                        <p>
                            @if (@Model.CurrentLanguage == "sv")
                            {
                                <span>Varje kund är unik, liksom deras logistikbehov. Vårt team samarbetar nära med dig för att förstå dina specifika krav, vilket gör att vi kan skräddarsy våra väglogistiklösningar för att möta dina individuella behov.</span>
                            }
                            else
                            {
                                <span>Every client is unique, and so are their logistics needs. Our team works closely with you to understand your specific requirements, allowing us to tailor our road logistics solutions to meet your individual demands.</span>
                            }
                        </p>
                    </div>

                </div>
            </div>



</div>


@*<div class="bla">
    <div class="about-section-4">

        <div class="about-section-3 text-center">



            @if (@Model.CurrentLanguage == "sv")
            {
                <h2>Varför välja ARTS för dina fraktbehov?</h2>
                <span>Företaget är specialiserat på att erbjuda skräddarsydda logistiklösningar för både företag och privatpersoner. Vår affärsmodell är inriktad på att leverera högkvalitativ rådgivning och service med fokus på att bygga långsiktiga och förtroendefulla kundrelationer.</span>
            }
            else
            {
                <h2>Why Choose ARTS for Your Shipping Needs?</h2>
                <span>The company specializes in providing tailored logistics solutions for both businesses and individuals. Our business model is centered around delivering high-quality consultancy and service with a focus on building long-term and trustful customer relationships.</span>

            }


        </div>


        <div class="about-section-5">

            <div class="circle-container">
                <a href="/About#s-1" class="lol">
                @if (@Model.CurrentLanguage == "sv")
                {
                    <h3> Tidssatta leveranser varje gång </h3>
                }
                else
                {
                    <h3>Punctual Deliveries Every Time</h3>
                }
                </a>
            </div>


            <div class="circle-container">
                <a href="/About#s-2" class="lol">
                    @if (Model.CurrentLanguage == "sv")
                    {
                        <h3> Skräddarsydd Service Excellence </h3>
                    }
                    else
                    {
                        <h3> Customized Service Excellence </h3>
                    }
                </a>
            </div>



            <div class="circle-container">
                <a href="/About#s-3" class="lol">
                @if (@Model.CurrentLanguage == "sv")
                {
                    <h3>Global räckvidd med en lokal touch</h3>
                }
                else
                {
                    <h3>Global Reach with a Local Touch</h3>
                }
                </a>
            </div>
           

        </div>

    </div>

</div>
*@







@functions {
    public string CalculatePercentageChange(decimal oldRate, decimal newRate)
    {
        decimal percentageChange = ((newRate - oldRate) / oldRate) * 100;
        string color = "";

        if (percentageChange > 0)
        {
            color = "green";
        }
        else if (percentageChange < 0)
        {
            color = "red";
        }
        else
        {
            
            return "";
        }

        
        string html = $"<span style='color: {color};'>(+{Math.Round(percentageChange, 2)}%)</span>";
        return html;
    }



}







<div>
    <button id="totop-arrow">
        <i class="fa-solid fa-arrow-up"></i>
    </button>


</div>


@section Scripts{

    <script>
        console.log('Script is running!');
        const arrow = document.querySelector('#totop-arrow');
        arrow.addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });


        var words = ["Efficient Logistics",
            "Secure Shipping",
            "Global Delivery Solutions",
            "Reliable Logistics Partner",

            "Flexible Delivery Services",
            "Sustainable Shipping Options",
            "Customized Logistics Solutions",
            "Fast and Reliable Distribution",
            "Innovative Logistics Technology",
            "Smooth Supply Chain",
            "Improved Logistics Efficiency",
            "Real-time Logistics",
            "Borderless Shipping",
            "Independent Logistics Company"],
            part,
            i = 0,
            offset = 0,
            len = words.length,
            forwards = true,
            skip_count = 0,
            skip_delay = 15,
            speed = 120;
        var wordflick = function () {
            var container = $('.word');
            var containerWidth = container.width();
            var containerHeight = container.height();

            setInterval(function () {
                if (forwards) {
                    if (offset >= words[i].length) {
                        ++skip_count;
                        if (skip_count == skip_delay) {
                            forwards = false;
                            skip_count = 0;
                        }
                    }
                }
                else {
                    if (offset == 0) {
                        forwards = true;
                        i++;
                        offset = 0;
                        if (i >= len) {
                            i = 0;
                        }
                    }
                }
                part = words[i].substr(0, offset);
                if (skip_count == 0) {
                    if (forwards) {
                        offset++;
                    }
                    else {
                        offset--;
                    }
                }

                // Sätt fast bredd och höjd för att undvika hopp
                container.text(part).css({
                    'width': containerWidth,
                    'height': containerHeight
                });
            }, speed);
        };

        $(document).ready(function () {
            wordflick();
        });


    

    </script>
}
