﻿@using MasterArtsLibrary.ViewModels




<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="~/images/arts-logistic-symbol-neg.png" type="image/x-icon">

    <!-- Meta tags, title, stylesheets, etc. -->
    <title> Arts Logistics  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Updated Meta Description -->
    <meta name="description" content="ARTS Logistics navet för innovativa och skräddarsydda logistiklösningar som omdefinierar sättet du tänker kring frakt och transport.">

    <!-- Canonical Tag (update with the correct page URL) -->
    <link rel="canonical" href="https://www.artslogistics.se/">

    <!-- Open Graph Tags for Social Media -->
    

    <!-- Twitter Card data -->
    

    <!-- Additional head content -->
    @RenderSection("Head", required: false)
    @RenderSection("Styles", required: false)

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/ArtsWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/41c8b474e2.css" crossorigin="anonymous">
</head>

<body>
    
    <div class="kalle">
    <header>
        
            @*<video autoplay muted loop>
            <source src="~/images/ARTS VID2.mp4" type="video/mp4">

            Your browser does not support the video tag.
            </video>*@

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-dark mb-3" style="border: none;">
                <div class="mr-arts order-sm-first text-center" style="margin-left:12px">
                    


                </div>

                <div class="custom-container">
                    <div class="ml-auto">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>

            <div class="navbar-collapse collapse justify-content-between light-black-background" style="border-top: none; border-bottom: none;">




                <ul class="navbar-nav order-first ms-auto dark-transparent-bgz" style="display: flex; justify-content: center; width: 100%;">



                            <!-- I layoutfilen -->
                            <li class="nav-item">
                                @if (User.Identity.Name == "ops@artslogistics.se")
                                {
                            <a class="nav-link text-light" href="https://masterartsweb.azurewebsites.net/Identity/Account/Register">Register</a>
                                }

                            </li>


                            <li class="nav-item">
                            <a href="/Index#index-id" class="nav-link text-light">
                                    <p class="customer-text">


                                    <p class="customer-text"> Home </p>


                                </a>
                            </li>
                            <li class="nav-item">
                        <a href="/ArtServices#contact-id" class="nav-link text-light">


                                    <p class="customer-text"> Services </p>

                                </a>
                            </li>
                            <li class="nav-item">
                        <a href="/About#contact-id" class="nav-link text-light">


                                    <p class="customer-text"> About Us </p>

                                </a>
                            </li>
                            <li class="nav-item">
                        <a href="/Contact#contact-id" class="nav-link text-light">





                                    <p class="customer-text"> Contact </p>

                                </a>
                            </li>
                            <li class="nav-item">
                        <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="nav-link text-light">


                                    <p class="customer-text">Booking</p>




                                </a>
                            </li>



                            </ul>





                            <partial name="_LoginPartial" />
                    </div>
                
            </nav>




            @RenderSection("Navbar", required: false)

        
       
    </header>


        

    </div>

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>



        <div class="fot">
            <div class="mr-arts-2"></div>

            <div class="fot-1">
                <p style="color:hotpink">



                    <span>ARTS</span>

                </p>
                <p>
                    <a href="/Index" class="kite">


                        <span>Home</span>

                    </a>
                </p>
                <p>
                    <a href="/About#sus" class="kite">


                        

                    </a>
                </p>
                <p>
                    <a href="/About" class="kite">



                        <span>About</span>

                    </a>
                </p>
                <p>
                    <a href="/LogisticsCenter/Calculator#contact-id" class="kite">

                        <span>Shipment Calculator</span>

                    </a>

                </p>  
                <p>
                    <a href="/NordicApi/CalculateRates#contact-id" class="kite">

                        <span>Rate Calculator</span>

                    </a>
                </p>
            </div>

            <div class="fot-1">
                <p style="color:hotpink">

                    


                    <span>Our services</span>

                </p>
                <p>
                    <a href="/ArtServices#air" class="kite">



                        <span>Air</span>

                    </a>
                </p>
                <p>
                    <a href="/ArtServices#road" class="kite">





                        <span>Road</span>

                    </a>
                </p>
                <p>
                    <a href="/ArtServices#train" class="kite">

                        <span>Train</span>

                    </a>
                </p>
                <p>
                    <a href="/ArtServices#sea" class="kite">

                        <span>Sea</span>

                    </a>
                </p>
                 <p>
                    <a href="/ArtServices#courier" class="kite">

                        <span>Courier</span>

                    </a>
                </p>
                 <p>
                    <a href="/ArtServices#courier" class="kite">

                        <span>Express</span>

                    </a>
                </p>
               
                
            </div>

            <div class="fot-1">
                <p style="color:hotpink">

                    <span>Contact</span>

                </p>
                <p>
                    <a href="/Contact" class="kite">

                        <span>Contact us</span>

                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/people/ARTS-Logistics-AB/61557532880447/" class="kite" target="_blank">
                        <i class="fa-brands fa-facebook" style="font-size:45px"></i>
                    </a>
                </p>
                <p>
                    <a href="https://www.instagram.com/artslogistics.se/" class="kite" target="_blank">
                        <i class="fa-brands fa-instagram" style=font-size:45px></i>
                    </a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/company/arts-logistics/" class="kite" target="_blank">
                        <i class="fa-brands fa-linkedin" style=font-size:45px></i>
                    </a>
                </p>

            </div>

            <div class="fot-1">
                <p style="color:hotpink">

                    <span>Other</span>

                </p>
                <p>
                    <a href="/About#nsab" class="kite">


                        <span>Shipping terms</span>

                    </a>
                </p>
            </div>
            <div class="fot-1">
                <p style="color:hotpink">


                    <span>You find us here</span>


                </p>
                <p class="kite">ARTS Logistics</p>
                <p class="kite">Cylindervägen 12, Vån 9</p>
                <p class="kite">131 51 Nacka Strand</p>
                <p><i class="fa-solid fa-phone"></i>Telefon: +46 70-549 14 14</p>
            </div>


        </div>

        

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>