﻿@using MasterArtsLibrary.ViewModels




<!DOCTYPE html>
<html lang="en">
<head>
   
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-M64CCRZ4');</script>
        <!-- End Google Tag Manager -->

    <link rel="shortcut icon" href="~/images/arts-logistic-symbol-neg.png" type="image/x-icon">

    <!-- Meta tags, title, stylesheets, etc. -->
    <title> Arts Logistics  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Updated Meta Description -->
    <meta name="description" content="ARTS Logistics navet för innovativa och skräddarsydda logistiklösningar som omdefinierar sättet du tänker kring frakt och transport.">

    <!-- Canonical Tag (update with the correct page URL) -->
    <link rel="canonical" href="https://www.artslogistics.se/">

    <!-- Open Graph Tags for Social Media -->
    

    <!-- Twitter Card data -->
    

    <!-- Additional head content -->
    @RenderSection("Head", required: false)
    @RenderSection("Styles", required: false)

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/ArtsWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/41c8b474e2.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/js/select2.min.js"></script>


</head>

<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M64CCRZ4"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    
    <div class="kalle">
    
    <header>
           
            @*<video autoplay muted loop>
            <source src="~/images/ARTS VID2.mp4" type="video/mp4">

            Your browser does not support the video tag.
            </video>*@

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-dark mb-3" style="border: none;">
                <div class="mr-arts order-sm-first text-center" style="margin-left:12px">
                    


                </div>

                <div class="custom-container">
                    <div class="ml-auto">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>

            <div class="navbar-collapse collapse justify-content-between light-black-background" style="border-top: none; border-bottom: none;">




                <ul class="navbar-nav order-first ms-auto dark-transparent-bgz" style="display: flex; justify-content: center; width: 100%;">



                          
                            <li class="nav-item">
                                @if (User.Identity.Name == "ops@artslogistics.se")
                                {
                            <a class="nav-link text-light" href="https://masterartsweb.azurewebsites.net/Identity/Account/Register">Register</a>
                                }

                            </li>


                            <li class="nav-item">
                            <a href="/Index#index-id" class="nav-link text-light">
                                    <p class="customer-text">


                                    <p class="customer-text"> Home </p>


                                </a>
                            </li>
                            <li class="nav-item">
                        <a href="/ArtServices#contact-id" class="nav-link text-light">


                                    <p class="customer-text"> Services </p>

                                </a>
                            </li>
                        <li class="nav-item">
                            <a href="/About#contact-id" class="nav-link text-light">
                                <p class="customer-text">About</p>
                            </a>
                            
                        </li>
                            <li class="nav-item">
                        <a href="/Contact#contact-id" class="nav-link text-light">





                                    <p class="customer-text"> Contact </p>

                                </a>
                            </li>
                        


                        <li class="nav-item">
                            <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="nav-link text-light">


                                <p class="customer-text">Order</p>




                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-light dropdown-toggle" data-toggle="dropdown">
                                <p class="customer-text">Tools</p>
                            </a>
                               
                            
                            <div class="dropdown-menu">

                                <a href="/NordicApi/Quotes#contact-id" class="dropdown-item"><i class="fa-thin fa-calendar-lines"></i>MY QUOTES</a>
                                <a href="/NordicApi/CalculateRates#contact-id" class="dropdown-item"><i class="fa-thin fa-anchor"></i>OCEAN LCL</a>
                                <a href="/NordicApi/InlandRequest#contact-id" class="dropdown-item"><i class="fa-thin fa-ship"></i>INLAND LCL</a>
                                 <a href="/UpsApi/ups#contact-id" class="dropdown-item"><i class="fas fa-calculator"></i> UPS COURIER</a>
                                <a href="/LogisticsCenter/Calculator#contact-id" class="dropdown-item"><i class="fas fa-calculator"></i> SHIPMENT-CALCULATOR</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/Terms#contact-id" class="nav-link text-light dropdown-toggle" data-toggle="dropdown">
                                <p class="customer-text">Terms</p>
                            </a>
                            <div class="dropdown-menu">
                                <a href="/Terms/#nsab-2" class="dropdown-item"> NSAB</a>
                                <a href="/Terms/#nsab" class="dropdown-item">Incoterms</a>

                            </div>
                        </li>

                            </ul>



                   


                            <partial name="_LoginPartial" />
                    </div>
                
            </nav>




            @RenderSection("Navbar", required: false)

           
       
    </header>

        
        

    </div>
   
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>



        <div class="fot">
            <div class="mr-arts-2"></div>

            <div class="fot-1">
                <p style="color:hotpink">



                    <span>ARTS</span>

                </p>
                <p>
                    <a href="/Index" class="kite">


                        <span>Home</span>

                    </a>
                </p>
                <p>
                    <a href="/About#sus" class="kite">


                        

                    </a>
                </p>
                <p>
                    <a href="/About" class="kite">



                        <span>About</span>

                    </a>
                </p>
                <p>
                    <a href="/LogisticsCenter/Calculator#contact-id" class="kite">

                        <span>Shipment Calculator</span>

                    </a>

                </p>  
                <p>
                    <a href="/NordicApi/CalculateRates#contact-id" class="kite">

                        <span>Rate Calculator</span>

                    </a>
                </p>
            </div>

            <div class="fot-1">
                <p style="color:hotpink">

                    


                    <span>Our services</span>

                </p>
                <p>
                    <a href="/ArtServices#air" class="kite">



                        <span>Air</span>

                    </a>
                </p>
                <p>
                    <a href="/ArtServices#road" class="kite">





                        <span>Road</span>

                    </a>
                </p>
                <p>
                    <a href="/ArtServices#train" class="kite">

                        <span>Train</span>

                    </a>
                </p>
                <p>
                    <a href="/ArtServices#sea" class="kite">

                        <span>Sea</span>

                    </a>
                </p>
                 <p>
                    <a href="/ArtServices#courier" class="kite">

                        <span>Courier</span>

                    </a>
                </p>
                 <p>
                    <a href="/ArtServices#courier" class="kite">

                        <span>Express</span>

                    </a>
                </p>
               
                
            </div>

            <div class="fot-1">
                <p style="color:hotpink">

                    <span>Contact</span>

                </p>
                <p>
                    <a href="/Contact" class="kite">

                        <span>Contact us</span>

                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/people/ARTS-Logistics-AB/61557532880447/" class="kite" target="_blank">
                        <i class="fa-brands fa-facebook" style="font-size:45px"></i>
                    </a>
                </p>
                <p>
                    <a href="https://www.instagram.com/artslogistics.se/" class="kite" target="_blank">
                        <i class="fa-brands fa-instagram" style=font-size:45px></i>
                    </a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/company/arts-logistics/" class="kite" target="_blank">
                        <i class="fa-brands fa-linkedin" style=font-size:45px></i>
                    </a>
                </p>

            </div>

            <div class="fot-1">
                <p style="color:hotpink">

                    <span>Other</span>

                </p>
                <p>
                    <a href="/Terms#nsab" class="kite">


                        <span>Shipping terms</span>

                    </a>
                </p>
            </div>
            <div class="fot-1">
                <p style="color:hotpink">


                    <span>You find us here</span>


                </p>
                <p class="kite">ARTS Logistics</p>
                <p class="kite">Cylindervägen 12, Vån 9</p>
                <p class="kite">131 51 Nacka Strand</p>
                <p><i class="fa-solid fa-phone"></i>Telefon: +46 70-549 14 14</p>
            </div>


        </div>

        

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
<script>


    const words = ["Discover", "Art", "Logistics", "Simplify", "Transparent"];
    let index = 0;

   

    function cycleWords() {
        const dynamicText = document.getElementById('dynamic-text');
        if (!dynamicText) {
            console.log('Elementet "dynamic-text" kunde inte hittas.');
            return;
        }

        // Applicera fade-out-effekten först
        dynamicText.style.animation = 'fadeOutSlideOut 1s forwards';

        setTimeout(() => {
            // Uppdatera ordet efter fade-out-animationen är klar
            dynamicText.innerHTML = words[index];

            // Applicera fade-in-effekten för det nya ordet
            dynamicText.style.animation = 'fadeInSlideIn 1s forwards';

            index = (index + 1) % words.length;
        }, 1000); // Denna timing måste matcha längden på din fade-out-animation

        setTimeout(cycleWords, 4000); // Låt ordet vara synligt en stund innan nästa cykel startar
    }

    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(cycleWords, 1000);
    });



</script>