@using MasterArtsLibrary.ViewModels




<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags, title, stylesheets, etc. -->
    <title>@ViewData["Title"] - ArtsWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap"
    <link rel="stylesheet" href="~/ArtsWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/41c8b474e2.css" crossorigin="anonymous">

    <!-- Additional head content -->
    @RenderSection("Head", required: false)
    @RenderSection("Styles", required: false)
</head>
<body>
    

        <div class="game" style="background:black">


        



                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <!-- I layoutfilen -->
                    <li class="nav-item">
                        @if (User.Identity.Name == "nils-emil1337@hotmail.se")
                        {
                            <a class="nav-link text-light" href="https://localhost:7041/Identity/Account/Register">Register</a>
                        }

                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">
                            <p class="customer-text">






                            <p class="customer-text"> Home </p>


                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/ArtServices">


                            <p class="customer-text"> Services </p>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/About">




                            <p class="customer-text"> About Us </p>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Contact">






                            <p class="customer-text"> Contact </p>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/LogisticsCenter/ShipmentCalculator">


                            <p class="customer-text"> Shipment</p>




                        </a>
                    </li>




                </ul>


                <partial name="_LoginPartial" />
            
        
    </nav>

    </div>
    <header>

        @*<video autoplay muted loop>
            <source src="~/images/ARTS VID2.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>*@

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-dark mb-3" style="border: none;">
            <div class="mr-arts order-sm-first text-center" style="margin-left:12px">
                <div class="word">
                </div>


            </div>

            <div class="custom-container">
                <div class="ml-auto">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
                <div class="team">
                    <div class="navbar-collapse collapse justify-content-between" style="border-top: none; border-bottom: none;">




                        <ul class="navbar-nav order-first ms-auto dark-transparent-bgz" style="border-bottom:solid 3px white">


                            <!-- I layoutfilen -->
                            <li class="nav-item">
                                @if (User.Identity.Name == "nils-emil1337@hotmail.se")
                                {
                                    <a class="nav-link text-light" href="https://localhost:7041/Identity/Account/Register">Register</a>
                                }

                            </li>


                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Index">
                                    <p class="customer-text">






                                    <p class="customer-text"> Home </p>


                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/ArtServices">


                                    <p class="customer-text"> Services </p>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/About">




                                    <p class="customer-text"> About Us </p>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Contact">






                                    <p class="customer-text"> Contact </p>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/LogisticsCenter/ShipmentCalculator">


                                    <p class="customer-text"> Shipment</p>







                                </a>
                            </li>












                            <partial name="_LoginPartial" />
                    </div>
                </div>
        </nav>
               
       
                
        <div class="shipment">

            <h2 style="font-size: 0.7em">SHIPMENT</h2>
        </div>
        <div class="contact">

            <h2 style="font-size: 0.7em">CONTACT</h2>
        </div>
        <div class="services">
            <h2 style="font-size: 0.7em">SERVICES</h2>

        </div>
        <div class="about-2">
            <h2 style="font-size: 0.7em">ABOUT</h2>

        </div>
        <div class="book">
            <h2 style="font-size: 0.7em">CREATE ORDER</h2>

        </div>



        @RenderSection("Navbar", required: false)
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer>




        <div class="fot">
            <div class="mr-arts-2"></div>

            <div class="fot-1">
                <p style="color:hotpink">
                   
                   
                    
                    
                        <span>ARTS</span>
                   
                </p>
                <p>
                    <a href="/Index" class="kite">
                       
                      
                            <span>Home</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/About#sus" class="kite">
                       
                           
                        
                      
                        
                            <span>Sustainability</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/About" class="kite">
                        
                       
                       
                            <span>About</span>
                       
                    </a>
                </p>
                <p>
                    <a href="/ShipmentCalculator" class="kite">
                        
                            <span>Shipment Calculator</span>
                        
                    </a>
                </p>
            </div>

            <div class="fot-1">
                <p style="color:hotpink">
                 
                        <span>Våra tjänster</span>
                   
                    
                        <span>Our services</span>
                    
                </p>
                <p>
                    <a href="/ArtServices#air" class="kite">
                      
                        
                            <span>Luft, väg</span>
                        
                        
                        
                            <span>Air, road</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/ArtServices#sea" class="kite">
                       
                        
                     
                        
                        
                            <span>Sea, train</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/ArtServices#courier" class="kite">
                        
                            <span>Courier, express</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/ArtServices#special" class="kite">
                        
                            <span>Customized services</span>
                        
                    </a>
                </p>
            </div>

            <div class="fot-1">
                <p style="color:hotpink">
                    
                        <span>Contact</span>
                    
                </p>
                <p>
                    <a href="/Contact" class="kite">
                      
                            <span>Contact us</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/ArtServices#sea" class="kite">
                       
                            <span>Facebook</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/ArtServices#courier" class="kite">
                        
                        
                        
                            <span>Instagram</span>
                        
                    </a>
                </p>
                <p>
                    <a href="/ArtServices#special" class="kite">
                       
                            <span>LinkedIn</span>
                        
                    </a>
                </p>
            </div>

            <div class="fot-1">
                <p style="color:hotpink">
                  
                        <span>Other</span>
                    
                </p>
                <p>
                    <a href="/About#nsab" class="kite">
                        
                        
                            <span>Shipping terms</span>
                        
                    </a>
                </p>
            </div>
            <div class="fot-1">
                <p style="color:hotpink">
                   
                    
                        <span>You find us here</span>
                    

                </p>
                <p class="kite">ARTS logistics</p>
                <p class="kite">Cylindervägen 12, Vån 9</p>
                <p class="kite">131 51 Nacka Strand</p>
                <p><i class="fa-solid fa-phone"></i>Telefon: +46 70-549 14 14</p>
            </div>


        </div>



    </footer>






    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
