@page
@model MasterArtsWeb.Pages.UpsApi.upsModel
@{
}






<form method="post">
    <h2>Shipper Information</h2>
    <div>
        <label>Name:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Name" required />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Name" class="text-danger"></span>
    </div>
    <div>
        <label>Address Line 1:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.AddressLine[0]" required />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.AddressLine[0]" class="text-danger"></span>
        <label>Address Line 2:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.AddressLine[1]" />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.AddressLine[1]" class="text-danger"></span>
        <label>Address Line 3:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.AddressLine[2]" />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.AddressLine[2]" class="text-danger"></span>
    </div>
    <div>
        <label>City:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.City" required />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.City" class="text-danger"></span>
    </div>
    <div>
        <label>Postal Code:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.PostalCode" required />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.PostalCode" class="text-danger"></span>
    </div>
    <div>
        <label>Country Code:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.CountryCode" required />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.CountryCode" class="text-danger"></span>
    </div>

    <h2>Ship To Information</h2>
    <div>
        <label>Name:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Name" required />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Name" class="text-danger"></span>
    </div>
    <div>
        <label>Address Line 1:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.AddressLine[0]" required />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.AddressLine[0]" class="text-danger"></span>
        <label>Address Line 2:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.AddressLine[1]" />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.AddressLine[1]" class="text-danger"></span>
        <label>Address Line 3:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.AddressLine[2]" />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.AddressLine[2]" class="text-danger"></span>
    </div>
    <div>
        <label>City:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.City" required />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.City" class="text-danger"></span>
    </div>
    <div>
        <label>Postal Code:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.PostalCode" required />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.PostalCode" class="text-danger"></span>
    </div>
    <div>
        <label>Country Code:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.CountryCode" required />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.CountryCode" class="text-danger"></span>
    </div>
  
    <h2>Service Details</h2>
    <div>
        <label>Service Code:</label>
        <select asp-for="RateRequest.Shipment.Service.Code" required>
            <option value="01">Next Day Air</option>
            <option value="02">2nd Day Air</option>
            <option value="03">Ground</option>
            <option value="12">3 Day Select</option>
            <option value="13">Next Day Air Saver</option>
            <option value="14">UPS Next Day Air Early</option>
            <option value="59">2nd Day Air A.M.</option>
            <option value="75">UPS Heavy Goods</option>
            <option value="07">Worldwide Express</option>
            <option value="08">Worldwide Expedited</option>
            <option value="11">Standard</option>
            <option value="54">Worldwide Express Plus</option>
            <option value="65">Saver</option>
            <option value="96">UPS Worldwide Express Freight</option>
            <option value="71">UPS Worldwide Express Freight Midday</option>
        </select>
    </div>
   
        <h2>Package Details</h2>
        <div>
            <label>Number of Pieces:</label>
            <input type="number" asp-for="RateRequest.Shipment.NumOfPieces" min="1" required />
        </div>
        <div>
            <label>Packaging Type:</label>
            <select asp-for="RateRequest.Shipment.Package.PackagingType.Code" required>
                <option value="01">UPS Letter</option>
                <option value="02">Package</option>
                <option value="03">Tube</option>
                <option value="04">Pak</option>
                <option value="21">Express Box</option>
                <option value="24">25KG Box</option>
                <option value="25">10KG Box</option>
                <option value="30">Pallet</option>
                <option value="2a">Small Express Box</option>
                <option value="2b">Medium Express Box</option>
                <option value="2c">Large Express Box</option>
            </select>
        </div>

    <div>
        <label>Length (CM):</label>
        <input type="number" asp-for="RateRequest.Shipment.Package.Dimensions.Length" required />
        <span asp-validation-for="RateRequest.Shipment.Package.Dimensions.Length" class="text-danger"></span>
        <label>Width (CM):</label>
        <input type="number" asp-for="RateRequest.Shipment.Package.Dimensions.Width" required />
        <span asp-validation-for="RateRequest.Shipment.Package.Dimensions.Width" class="text-danger"></span>
        <label>Height (CM):</label>
        <input type="number" asp-for="RateRequest.Shipment.Package.Dimensions.Height" required />
        <span asp-validation-for="RateRequest.Shipment.Package.Dimensions.Height" class="text-danger"></span>
    </div>
    <div>
        <label>Weight (KGS):</label>
        <input type="number" asp-for="RateRequest.Shipment.Package.PackageWeight.Weight" required />
        <span asp-validation-for="RateRequest.Shipment.Package.PackageWeight.Weight" class="text-danger"></span>
    </div>

    <div>
        <button type="submit">Submit Rate Request</button>
    </div>
</form>



 


<h2>UPS Rate Response Details</h2>

@if (Model.Response?.Details != null)
{
    <div>
        <h3>Response Status</h3>
        <p>Code: @Model.Response.Details.Response.ResponseStatus.Code</p>
        <p>Description: @Model.Response.Details.Response.ResponseStatus.Description</p>

        @if (Model.Response.Details.Response.Alert?.Any() == true)
        {
            <h4>Alerts</h4>
            foreach (var alert in Model.Response.Details.Response.Alert)
            {
                <p>Alert Code: @alert.Code - @alert.Description</p>
            }
        }

        <h3>Rated Shipment Details</h3>
        @if (Model.Response.Details.RatedShipment != null)
{
    <p>Service Code: @Model.Response.Details.RatedShipment.Service.Code</p>
    <p>Service Description: @Model.Response.Details.RatedShipment.Service.Description</p>
    
    
        decimal originalCharge = decimal.Parse(Model.Response.Details.RatedShipment.TotalCharges.MonetaryValue);
        decimal increasedCharge = originalCharge * 1.3m; // Öka med 30%
        string formattedIncreasedCharge = increasedCharge.ToString("F2"); // Format to two decimal places
   
    <p>Total Charges: @formattedIncreasedCharge @Model.Response.Details.RatedShipment.TotalCharges.CurrencyCode</p>

    @if (Model.Response.Details.RatedShipment.RatedShipmentAlert?.Any() == true)
    {
        <h4>Shipment Alerts</h4>
        foreach (var shipmentAlert in Model.Response.Details.RatedShipment.RatedShipmentAlert)
        {
            <p>Alert Code: @shipmentAlert.Code - @shipmentAlert.Description</p>
        }
    }
}

    </div>
}
else
{
    <p>No data available or parsing failed. Check the logs for more details.</p>
}







